.side-block {
  box-sizing: content-box;
  padding: 20px 19px;
  width: 230px;
}
.announcement {
  height: 186px;
}
.side-block .title {
  overflow: hidden;
}
.side-block .txt {
  float: left;
}
.regular {
  background: #ffffff;
  border: 2px solid #ff5054;
  box-sizing: content-box;
  width: 630px;
  padding: 0 20px;
  position: relative;
}
.new-projects {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing:content-box;
  padding: 0 20px;
  width: 630px;
}
.i-top {
  overflow: hidden;
}
.partners {
  overflow: hidden;
}
.partners img {
  width: 960px;
}
.safety-img {
  width: 428px;
}
.safety-img a{
  float: left;
}
.safety-img a img {
  float: left;
}
.copyright {
  height: 36px;
  width: 375px;
}
.footer .others {
  width: 960px;
}
.contact {
  width: 506px;
  height: 30px;
  overflow: hidden;
}
.links {
  height: 14px;
  width: 506px;
}