/* pre-set */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft YaHei", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}

/* - Hides from IE-mac - \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* - End hide from IE-mac - */
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* module */
/* -float- */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.f-bold {
  font-weight: bold;
}

.f-italic {
  font-style: italic;
}

.f-underline {
  text-decoration: underline;
}

/* -margin- */
.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.mr-16p {
  margin-right: 16%;
}

.mr-20p {
  margin-right: 20%;
}

.m-c {
  height: 80px;
  margin: 0 auto;
  width: 80%;
}

/* -color- */
.cl-102 {
  color: #646464;
}

.cl-102 {
  color: #666;
}

.cl-119 {
  color: #777;
}

.cl-153 {
  color: #999;
}

.cl-193 {
  color: #c1c1c1;
}

.cl-204 {
  color: #ccc;
}

.cl-white {
  color: #fff;
}

.cl-red {
  color: #ff4f68;
}

.cl-blue {
  color: #51befc;
}

.cl-yellow {
  color: #fddf58;
}

.cl-green {
  color: #07a10e;
}

.txt-center {
  text-align: center;
}

.bg-239 {
  background-color: #efefef;
}

/* -button- */
button {
  background: none;
  border: 0 none;
  outline: 0 none;
}

/* -input- */
input {
  background: none;
  border: 0 none;
}

body {
  color: #646464;
}

/* -brd- */
.brd-t {
  border-top: 1px solid #f5f5f5;
}

.brd-b {
  border-bottom: 1px solid #f5f5f5;
}

.brd-l {
  border-left: 1px solid #f5f5f5;
}

.brd-r {
  border-right: 1px solid #f5f5f5;
}

/* top */
.top-fixed {
  background: #ffffff;
  line-height: 52px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.top-fixed * {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.top-fixed .top-title {
  font-size: 1.2em;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.top-cancel {
  color: #646464;
  display: block;
  line-height: 52px;
}

/* seach-bar */
.search-bar {
  z-index: 301;
}

.ic-search {
  background: url(../images/icons-a.png) no-repeat -147px -36px;
  background-size: 201px 145px;
  height: 36px;
  width: 24px;
}

.btn-compose {
  background: url(../images/icons.png) no-repeat 0 2px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  left: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}

.btn-search {
  background: url(../images/icons.png) no-repeat -37px 2px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  right: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}

/* switch-wrap */
.switch-wrap {
  margin: 0 auto;
  width: 50%;
}

.switch-wrap li {
  text-align: center;
  width: 25%;
}

.switch-wrap .tab {
  color: #646464;
  display: block;
  font-size: 0.9em;
  line-height: 52px;
}

.switch-wrap .tab.active {
  color: #ff4f68;
  font-size: 1.2em;
}

/* top-big-fixed */
.top-big-fixed {
  background: #ffffff;
  color: #646464;
  height: 0;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}

.top-big-fixed .top-title {
  font-size: 1.2em;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.top-big-footer {
  padding-top: 35px;
}

.btn-close {
  background: url(../images/icons.png) no-repeat -28px -91px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  left: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}


.ic-new-activity {
  background: url(../images/icons.png) no-repeat -69px -85px;
  background-size: 250px 145px;
  display: block;
  height: 60px;
  width: 60px;
}

.ic-new-article {
  background: url(../images/icons.png) no-repeat -129px -85px;
  background-size: 250px 145px;
  display: block;
  height: 60px;
  width: 60px;
}

.ic-attendance {
  background: url(../images/icons.png) no-repeat -189px -85px;
  background-size: 250px 145px;
  display: block;
  height: 60px;
  width: 60px;
}

.btn-new {
  text-align: center;
}

/* search-box */
.ic-arrow-down {
  background: url(../images/icons.png) no-repeat -146px 9px;
  background-size: 250px 145px;
  height: 36px;
  width: 24px;
}

.ic-reset {
  background: url(../images/icons.png) no-repeat -172px 10px;
  background-size: 250px 145px;
  height: 36px;
  position: absolute;
  right: 5px;
  width: 34px;
}

.search-box {
  background: #f0f0f0;
  height: 36px;
  margin: 8px 0 8px 20px;
  line-height: 36px;
  position: relative;
  width: 76%;
}

.search-inp {
  height: 36px;
  line-height: 36px;
  padding-left: 5px;
  outline: 0 none;
}

.search-cancel {
  color: #646464;
  display: block;
  line-height: 52px;
}

/* body */
.body {
  padding-top: 52px;
  padding-bottom: 58px;
}

.bg-light-blue {
  background-color: #efeff4;
}

/* banner */
.banner {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner:after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 37.3%;
}

.banner ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner li {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner li:first-child {
  z-index: 1;
}

.banner li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.banner .dot {
  bottom: 10px;
  font-size: 0;
  position: absolute;
  right: 10px;
  z-index: 5;
}

.banner .dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.banner .dot .cur {
  background-color: #fff;
}

/* list */
.list {

}

.list .item {
  background: #ffffff;
  width: 100%;
}

.list .item .i-top {
  padding: 20px 20px 0 20px;
}

.list .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.list .item .i-title {
  font-size: 1.2em;
}

.list .item .i-subtitle {
  font-size: 0.8em;
}

.list .item .i-time {
  font-size: 0.8em;
}

.list .item .i-middle {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
}

.list .item .i-bottom {
  padding: 8px 0;
}

.list .item .i-bottom .btn {
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 10%;
  width: 23%;
}

.list .item .i-pictures img {
  float: left;
  margin-right: 8px;
  max-width: 25%;
}

.thumb-up .ic {
  background: url(../images/icons.png) no-repeat -166px -57px;
  background-size: 250px 145px;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
}

.review .ic {
  background: url(../images/icons.png) no-repeat -84px 5px;
  background-size: 250px 145px;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
}

.reward .ic {
  background: url(../images/icons.png) no-repeat -117px 4px;
  background-size: 250px 145px;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
}


/* search-result */
.search-result {

}

.search-result .item {
  background: #ffffff;
  width: 100%;
}

.search-result .item .i-top {
  padding: 10px 20px 10px 20px;
}

.search-result .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.search-result .item .i-title {
  font-size: 1em;
}

.search-result .item .i-subtitle {
  font-size: 0.8em;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-result .item .i-time {
  font-size: 0.8em;
}

.search-result .item .i-middle {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
}

.search-result .item .i-bottom {
  padding: 8px 0;
}

.search-result .item .i-bottom .btn {
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 10%;
  width: 23%;
}

.search-result .item .i-pictures img {
  float: left;
  margin-right: 8px;
  max-width: 25%;
}

.btn-watch .ic {
  background: url(../images/icons.png) no-repeat 0 -121px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.btn-watch .txt  {
  color: #ff4f68;
  font-size: 0.9em;
}

.btn-watch.un .ic {
  background: url(../images/icons.png) no-repeat -30px -121px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.btn-watch.un .txt  {
  color: #646464;
}

.search-person-result {
  background: #ffffff;
  padding: 25px 15px;
}

.person {
  color: #646464;
  position: relative;
  text-align: center;
}

.person span {
  display: block;
  font-size: 0.9em;
  margin-top: 5px;
}

.person .more {
  background: url(../images/icons.png) no-repeat -192px -27px;
  background-size: 250px 145px;
  display: block;
  height: 55px;
  position: absolute;
  top: 0;
  width: 55px;
}

.person img {
  border-radius: 50%;
  max-width: 55px;
}

/* related */
.related {
  background: #ffffff;
  padding: 10px 20px;
}

.ic-related {
  background: url(../images/icons.png) no-repeat 0 -90px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  width: 24px;
}

.ic-arrow-right {
  background: url(../images/icons.png) no-repeat -201px 6px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  width: 24px;
}

/* footer-fixed */
.footer-fixed {
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  z-index: 200;
}

.footer-fixed .tab-m {
  display: block;
  float: left;
  font-size: 0.8em;
  width: 25%;
}

.footer-fixed .tab-m .ic {
  display: block;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}

.footer-fixed .tab-m span {
  display: block;
  text-align: center;
}

.footer-fixed .tab-m.find .ic {
  background: url(../images/icons.png) no-repeat 3px -25px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.find.active .ic {
  background: url(../images/icons.png) no-repeat 3px -52px;
  background-size: 250px 145px;
}

.footer-fixed .tab-m.simulate .ic {
  background: url(../images/icons.png) no-repeat -33px -24px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.simulate.active .ic {
  background: url(../images/icons.png) no-repeat -33px -52px;
  background-size: 250px 145px;
}

.footer-fixed .tab-m.market .ic {
  background: url(../images/icons.png) no-repeat -68px -26px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.market.active .ic {
  background: url(../images/icons.png) no-repeat -68px -53px;
  background-size: 250px 145px;
}

.footer-fixed .tab-m.me .ic {
  background: url(../images/icons.png) no-repeat -104px -24px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.me.active .ic {
  background: url(../images/icons.png) no-repeat -104px -52px;
  background-size: 250px 145px;
}


/* watchs */
.watchs {

}

.watchs .item {
  background: #ffffff;
  width: 100%;
}

.watchs .item .i-top {
  padding: 10px 20px 10px 20px;
}

.watchs .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.watchs .item .i-title {
  font-size: 1em;
}

.watchs .item .i-subtitle {
  font-size: 0.8em;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.watchs .item .i-time {
  font-size: 0.8em;
}

.watchs .item .i-middle {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
}

.watchs .item .i-bottom {
  padding: 8px 0;
}

.watchs .item .i-bottom .btn {
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 10%;
  width: 23%;
}

.watchs .item .i-pictures img {
  float: left;
  margin-right: 8px;
  max-width: 25%;
}

/* stocks */
.stocks {

}

.stocks .item {
  background: #ffffff;
  width: 100%;
}

.stocks .item .i-top {
  padding: 10px 20px 10px 20px;
}

.stocks .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.stocks .item .i-title {
  font-size: 1em;
}

.stocks .item .i-subtitle {
  font-size: 0.8em;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stocks .item .tag {
  border: 1px solid #ff4f68;
  color: #ff4f68;
  display: block;
  font-size: 0.9em;
  line-height: 20px;
  text-align: center;
  width: 37px;
}

.index {
  background: #efefef;
  color: #646464;
  font-size: 0.9em;
  padding: 6px 20px;
}

.index-bar {
  font-size: 0.8em;
  position: fixed;
  top: 100px;
  right: 10px;
  text-align: center;
  z-index: 100;
}

/* picture */
.btn-trash {
  background: url(../images/icons-a.png) no-repeat 0 -59px;
  background-size: 201px 145px;
  display: block;
  height: 24px;
  right: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}
.btn-back {
  background: url(../images/icons-a.png) no-repeat -29px -59px;
  background-size: 201px 145px;
  display: block;
  height: 24px;
  position: absolute;
  top: 14px;
  width: 24px;
}
.pictures img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.pic-page {
  color: #ffffff;
  left: 50%;
  position: fixed;
  right: 50%;
  bottom: 30px;
  z-index: 100;
}
@media screen and (max-width: 360px) {
  .mr-20p {
    margin-right: 14%;
  }

  .search-result .item .i-subtitle {
    width: 170px;
  }
}
