/* pre-set */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}

/* - Hides from IE-mac - \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* - End hide from IE-mac - */
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* module */
/* -float- */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.f-bold {
  font-weight: bold;
}

.f-italic {
  font-style: italic;
}

.f-underline {
  text-decoration: underline;
}

/* -margin- */
.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.mr-16p {
  margin-right: 16%;
}

.mr-20p {
  margin-right: 20%;
}

.m-c {
  height: 80px;
  margin: 0 auto;
  width: 80%;
}

/* -color- */
.cl-102 {
  color: #646464;
}

.cl-102 {
  color: #666;
}

.cl-119 {
  color: #777;
}

.cl-153 {
  color: #999;
}

.cl-193 {
  color: #c1c1c1;
}

.cl-204 {
  color: #ccc;
}

.cl-white {
  color: #fff;
}

.cl-red {
  color: #ff4f68;
}

.cl-blue {
  color: #51befc;
}

.cl-yellow {
  color: #fddf58;
}

.cl-green {
  color: #07a10e;
}

.txt-center {
  text-align: center;
}

.bg-239 {
  background-color: #efefef;
}

/* -button- */
button {
  background: none;
  border: 0 none;
  outline: 0 none;
}

/* -input- */
input {
  background: none;
  border: 0 none;
}

body {
  color: #646464;
}

/* -brd- */
.brd-t {
  border-top: 1px solid #f5f5f5;
}

.brd-b {
  border-bottom: 1px solid #f5f5f5;
}

.brd-l {
  border-left: 1px solid #f5f5f5;
}

.brd-r {
  border-right: 1px solid #f5f5f5;
}

/* top */
.top-fixed {
  background: #ffffff;
  line-height: 52px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.top-fixed.sp {
  background: none;
  color: #ffffff;
}

.top-fixed * {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.top-fixed .top-title {
  font-size: 1.2em;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.top-cancel {
  color: #646464;
  display: block;
  line-height: 52px;
}

.top-cancel-right {
  color: #646464;
  display: block;
  line-height: 52px;
  position: absolute;
  top: 0;
  right: 20px;
}

/* seach-bar */
.search-bar {
  z-index: 301;
}

.ic-search {
  background: url(../images/icons-a.png) no-repeat -147px -36px;
  background-size: 201px 145px;
  height: 36px;
  width: 24px;
}

.btn-compose {
  background: url(../images/icons.png) no-repeat 0 2px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  left: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}

.btn-search {
  background: url(../images/icons.png) no-repeat -37px 2px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  right: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}

/* switch-wrap */
.switch-wrap {
  margin: 0 auto;
  width: 50%;
}

.switch-wrap li {
  text-align: center;
  width: 25%;
}

.switch-wrap .tab {
  color: #646464;
  display: block;
  font-size: 0.9em;
  line-height: 52px;
}

.switch-wrap .tab.active {
  color: #ff4f68;
  font-size: 1.2em;
}

/* top-big-fixed */
.top-big-fixed {
  background: #ffffff;
  color: #646464;
  height: 0;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}

.top-big-fixed .top-title {
  font-size: 1.2em;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.top-big-footer {
  padding-top: 35px;
}

.btn-close {
  background: url(../images/icons.png) no-repeat -28px -91px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  left: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}

.ic-new-activity {
  background: url(../images/icons.png) no-repeat -69px -85px;
  background-size: 250px 145px;
  display: block;
  height: 60px;
  width: 60px;
}

.ic-new-article {
  background: url(../images/icons.png) no-repeat -129px -85px;
  background-size: 250px 145px;
  display: block;
  height: 60px;
  width: 60px;
}

.ic-attendance {
  background: url(../images/icons.png) no-repeat -189px -85px;
  background-size: 250px 145px;
  display: block;
  height: 60px;
  width: 60px;
}

.btn-new {
  text-align: center;
}

/* search-box */
.ic-arrow-down {
  background: url(../images/icons.png) no-repeat -146px 9px;
  background-size: 250px 145px;
  height: 36px;
  width: 24px;
}

.ic-reset {
  background: url(../images/icons.png) no-repeat -172px 10px;
  background-size: 250px 145px;
  height: 36px;
  position: absolute;
  right: 5px;
  width: 34px;
}

.search-box {
  background: #f0f0f0;
  height: 36px;
  margin: 8px 0 8px 20px;
  line-height: 36px;
  position: relative;
  width: 76%;
}

.search-inp {
  height: 36px;
  line-height: 36px;
  padding-left: 5px;
  outline: 0 none;
}

.search-cancel {
  color: #646464;
  display: block;
  line-height: 52px;
}

/* body */
.body {
  padding-top: 52px;
  padding-bottom: 58px;
}

.body.sp {
  padding-top: 0;
  padding-bottom: 58px;
}

.bg-light-blue {
  background-color: #efeff4;
}

/* banner */
.banner {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner:after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 37.3%;
}

.banner ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner li {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner li:first-child {
  z-index: 1;
}

.banner li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.banner .dot {
  bottom: 10px;
  font-size: 0;
  position: absolute;
  right: 10px;
  z-index: 5;
}

.banner .dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.banner .dot .cur {
  background-color: #fff;
}

/* list */
.list {

}

.list .item {
  background: #ffffff;
  width: 100%;
}

.list .item .i-top {
  padding: 20px 20px 0 20px;
}

.list .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.list .item .i-title {
  font-size: 1.2em;
}

.list .item .i-subtitle {
  font-size: 0.8em;
}

.list .item .i-subtitle .tag {
  background: #ececec;
  color: #646464;
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  margin-right: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.list .item .i-time {
  font-size: 0.8em;
}

.list .item .i-middle {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
}

.list .item .i-bottom {
  padding: 8px 0;
}

.list .item .i-bottom .btn {
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 10%;
  width: 23%;
}

.list .item .i-pictures img {
  float: left;
  margin-right: 8px;
  max-width: 25%;
}

.thumb-up .ic {
  background: url(../images/icons.png) no-repeat -166px -57px;
  background-size: 250px 145px;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
}

.review .ic {
  background: url(../images/icons.png) no-repeat -84px 5px;
  background-size: 250px 145px;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
}

.reward .ic {
  background: url(../images/icons.png) no-repeat -117px 4px;
  background-size: 250px 145px;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
}

/* search-result */
.search-result {

}

.search-result .item {
  background: #ffffff;
  width: 100%;
}

.search-result .item .i-top {
  padding: 10px 20px 10px 20px;
}

.search-result .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.search-result .item .i-title {
  font-size: 1em;
}

.search-result .item .i-subtitle {
  font-size: 0.8em;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-result .item .i-time {
  font-size: 0.8em;
}

.search-result .item .i-middle {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
}

.search-result .item .i-bottom {
  padding: 8px 0;
}

.search-result .item .i-bottom .btn {
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 10%;
  width: 23%;
}

.search-result .item .i-pictures img {
  float: left;
  margin-right: 8px;
  max-width: 25%;
}

.btn-watch .ic {
  background: url(../images/icons.png) no-repeat 0 -121px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.btn-watch .txt {
  color: #ff4f68;
  font-size: 0.9em;
}

.btn-watch.un .ic {
  background: url(../images/icons.png) no-repeat -30px -121px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.btn-watch.un .txt {
  color: #646464;
}

.search-person-result {
  background: #ffffff;
  padding: 25px 15px;
}

.person {
  color: #646464;
  position: relative;
  text-align: center;
}

.person span {
  display: block;
  font-size: 0.9em;
  margin-top: 5px;
}

.person .more {
  background: url(../images/icons.png) no-repeat -192px -27px;
  background-size: 250px 145px;
  display: block;
  height: 55px;
  position: absolute;
  top: 0;
  width: 55px;
}

.person img {
  border-radius: 50%;
  max-width: 55px;
}

/* related */
.related {
  background: #ffffff;
  padding: 10px 20px;
}

.ic-related {
  background: url(../images/icons.png) no-repeat 0 -90px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  width: 24px;
}

.ic-arrow-right {
  background: url(../images/icons.png) no-repeat -201px 6px;
  background-size: 250px 145px;
  display: block;
  height: 24px;
  width: 24px;
}

/* footer-fixed */
.footer-fixed {
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  z-index: 200;
}

.footer-fixed .tab-m {
  display: block;
  float: left;
  font-size: 0.8em;
  width: 25%;
}

.footer-fixed .tab-m .ic {
  display: block;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}

.footer-fixed .tab-m span {
  display: block;
  text-align: center;
}

.footer-fixed .tab-m.find .ic {
  background: url(../images/icons.png) no-repeat 3px -25px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.find.active .ic {
  background: url(../images/icons.png) no-repeat 3px -52px;
  background-size: 250px 145px;
}

.footer-fixed .tab-m.simulate .ic {
  background: url(../images/icons.png) no-repeat -33px -24px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.simulate.active .ic {
  background: url(../images/icons.png) no-repeat -33px -52px;
  background-size: 250px 145px;
}

.footer-fixed .tab-m.market .ic {
  background: url(../images/icons.png) no-repeat -68px -26px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.market.active .ic {
  background: url(../images/icons.png) no-repeat -68px -53px;
  background-size: 250px 145px;
}

.footer-fixed .tab-m.me .ic {
  background: url(../images/icons.png) no-repeat -104px -24px;
  background-size: 250px 145px;
  display: block;
  height: 30px;
  width: 30px;
}

.footer-fixed .tab-m.me.active .ic {
  background: url(../images/icons.png) no-repeat -104px -52px;
  background-size: 250px 145px;
}

/* watchs */
.watchs {

}

.watchs .item {
  background: #ffffff;
  width: 100%;
}

.watchs .item .i-top {
  padding: 10px 20px 10px 20px;
}

.watchs .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.watchs .item .i-title {
  font-size: 1em;
}

.watchs .item .i-subtitle {
  font-size: 0.8em;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.watchs .item .i-time {
  font-size: 0.8em;
}

.watchs .item .i-middle {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
}

.watchs .item .i-bottom {
  padding: 8px 0;
}

.watchs .item .i-bottom .btn {
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 10%;
  width: 23%;
}

.watchs .item .i-pictures img {
  float: left;
  margin-right: 8px;
  max-width: 25%;
}

/* members */
.members {

}

.members .item {
  background: #ffffff;
  width: 100%;
}

.members .item .i-top {
  padding: 10px 20px 10px 20px;
}

.check-block {
  display: block;
  float: left;
  margin-right: 20px;
}

.check-block .ic-check {
  background: url(../images/icons-c.png) -28px 0;
  background-size: 150px 100px;
  display: block;
  height: 20px;
  width: 20px;
}

.check-block.selected .ic-check {
  background: url(../images/icons-c.png) 0 0;
  background-size: 150px 100px;
  display: block;
  height: 20px;
  width: 20px;
}

.check-block-disable {
  display: block;
  float: left;
  margin-right: 20px;
}

.check-block-disable .ic-check {
  background: url(../images/icons-c.png) -57px 0;
  background-size: 150px 100px;
  display: block;
  height: 20px;
  width: 20px;
}

.members .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.members .item .i-title {
  font-size: 1em;
}

.members .item .i-subtitle {
  font-size: 0.8em;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.members .item .i-time {
  font-size: 0.8em;
}

.members .item .i-middle {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
}

.members .item .i-bottom {
  padding: 8px 0;
}

.members .item .i-bottom .btn {
  float: left;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 10%;
  width: 23%;
}

.members .item .i-pictures img {
  float: left;
  margin-right: 8px;
  max-width: 25%;
}

/* stocks */
.stocks {

}

.stocks .item {
  background: #ffffff;
  width: 100%;
}

.stocks .item .i-top {
  padding: 10px 20px 10px 20px;
}

.stocks .item .i-top .avatar img {
  border-radius: 5px;
  max-width: 50px;
}

.stocks .item .i-title {
  font-size: 1em;
}

.stocks .item .i-subtitle {
  font-size: 0.8em;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stocks .item .tag {
  border: 1px solid #ff4f68;
  color: #ff4f68;
  display: block;
  font-size: 0.9em;
  line-height: 20px;
  text-align: center;
  width: 37px;
}

.index {
  background: #efefef;
  color: #646464;
  font-size: 0.9em;
  padding: 6px 20px;
}

.index-bar {
  font-size: 0.8em;
  position: fixed;
  top: 100px;
  right: 10px;
  text-align: center;
  z-index: 100;
}

/* picture */
.btn-trash {
  background: url(../images/icons-a.png) no-repeat 0 -59px;
  background-size: 201px 145px;
  display: block;
  height: 24px;
  right: 5%;
  position: absolute;
  top: 14px;
  width: 24px;
}

.btn-back {
  background: url(../images/icons-a.png) no-repeat -28px -59px;
  background-size: 201px 145px;
  display: block;
  height: 24px;
  position: absolute;
  top: 14px;
  width: 24px;
}

.btn-back-white {
  background: url(../images/icons-b.png) no-repeat 0 -21px;
  background-size: 150px 70px;
  display: block;
  height: 24px;
  position: absolute;
  top: 14px;
  width: 24px;
}

.pictures img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.pic-page {
  color: #ffffff;
  left: 50%;
  position: fixed;
  right: 50%;
  bottom: 30px;
  z-index: 100;
}

/* history */
.btn-comment {
  background: url(../images/icons-b.png) no-repeat -54px 2px;
  background-size: 150px 70px;
  color: #c1c1c1;
  display: block;
  font-size: 0.7em;
  height: 27px;
  line-height: 20px;
  right: 5%;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 33px;
}

.history {

}

.history .item {
  background: #ffffff;
  display: block;
  padding: 4% 0;
}

.history .item .i-time {
  color: #c1c1c1;
  display: block;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

.history .item .i-title {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 92%;
}

.history .item .i-title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.history .item .i-title .txt {
  background: url(../images/title-bg.png) repeat-x;
  background-size: 1px 80px;
  bottom: 0;
  color: #ffffff;
  display: block;
  line-height: 50px;
  padding-left: 10px;
  position: absolute;
  width: 100%;
}

.history .item .i-content {
  display: block;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

/* artitle */
.article {
  background: #ffffff;
}

.article .inner {
  margin-left: auto;
  margin-right: auto;
  padding: 4% 0 8% 0;
  width: 92%;
}

.article .title h1 {
  font-size: 1.2em;
}

.article .title .info {
  color: #c1c1c1;
  font-size: 0.8em;
}

.article .a-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.article .txt {
  font-size: 0.9em;
}

.index-b {
  background: #efefef;
  color: #c1c1c1;
  font-size: 0.9em;
  padding: 6px 20px;
}

/* comments */
.comments .c-item {
  background: #ffffff;
  font-size: 0.9em;
  padding: 4% 4%;
}

.comments .c-item .i-left {
  float: left;
  width: 10%;
}

.comments .c-item .i-right {
  float: left;
  width: 90%;
}

.comments .c-item .i-time {
  font-size: 0.8em;
}

.comments .c-item .avatar img {
  border-radius: 50%;
  width: 35px;
}

.comments .c-item .thumb-up {
  color: #c1c1c1;
  font-size: 0.8em;
  line-height: 20px;
}

.comments .c-item .reply {
  color: #c1c1c1;
  font-size: 0.8em;
  line-height: 20px;
}

.ic-thumb-up {
  background: url(../images/icons-b.png) no-repeat -127px 1px;
  background-size: 150px 70px;
  display: block;
  height: 20px;
  width: 20px;
}

.ic-reply {
  background: url(../images/icons-b.png) no-repeat 0 -52px;
  background-size: 150px 70px;
  display: block;
  height: 20px;
  width: 20px;
}

/* compose-box */
.compose-box {
  background: #efefef;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.compose-box .inner {
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

.compose-box .inp-box {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  display: block;
  height: 36px;
  line-height: 38px;
  width: 86%;
}

.compose-box .inp-box .ic-edit {
  background: url(../images/icons-b.png) no-repeat -95px 10px;
  background-size: 150px 70px;
  display: block;
  height: 38px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}

.compose-box .inp-box input {
  font-size: 0.9em;
  height: 36px;
  line-height: 38px;
  outline: 0 none;
}

.compose-box .submit {
  background: url(../images/icons-b.png) no-repeat -31px -35px;
  background-size: 150px 70px;
  display: block;
  height: 38px;
  width: 38px;
}

/* circle */
.circle {

}

.circle-info {
  height: 240px;
  padding-top: 50px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.circle-info-bg {
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  height: 304px;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  width: 102%;
  z-index: -1;
}

.circle-info .avatar {
  border: 2px solid #ffffff;
  border-radius: 4px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
  overflow: hidden;
  width: 75px;
}

.circle-info h1 {
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 25px;
  text-align: center;
}

.circle-info .sub {
  color: #ffffff;
  font-size: 0.9em;
  margin-top: 9px;
  opacity: 0.5;
  text-align: center;
}

.circle .detail {
  background: #ffffff;
}

.circle .detail .inner {
  margin-left: auto;
  margin-right: auto;
  padding: 4% 0;
  width: 92%;
}

.circle .detail .tags li {
  float: left;
  margin-right: 10px;
}

.circle .detail .tag {
  background: #ececec;
  color: #646464;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 4px;
  padding-right: 4px;
}

.circle .detail .introduce {
  font-size: 0.9em;
}

.circle-member {
  background: #ffffff;
}

.circle-member .title {
  line-height: 45px;
  padding: 0 4%;
}

.circle-member .title .txt {
  font-size: 1.1em;
}

.circle-member .title .num {
  color: #c1c1c1;
  font-size: 1em;
}

.circle-member .members {
  padding: 4%;
}

.circle-member .members ul {
  margin-left: auto;
  margin-right: auto;
}

.circle-member .members .person {
  float: left;
}

.footer-fixed.sp {
  height: 50px;
  padding: 0;
}

.footer-fixed.sp button {
  float: left;
  line-height: 50px;
  width: 50%;
}

.footer-fixed.sp .txt {
  color: #646464;
  float: left;
  margin-left: 20px;
}

.footer-fixed.sp .sub-item {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  display: none;
  padding: 5px 15px;
  position: absolute;
  right: 30px;
  bottom: 65px;
  z-index: 20;
}

.footer-fixed.sp .sub-item button {
  display: block;
  clear: both;
  text-align: left;
  width: 85px;
}

.footer-fixed.sp .sub-item .ic-arrow-point {
  background: url(../images/icons-c.png) no-repeat -119px -84px;
  background-size: 150px 100px;
  display: block;
  height: 11px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  right: 50%;
  width: 12px;
}

.footer-fixed.sp .ic-plus {
  background: url(../images/icons-b.png) no-repeat 0 15px;
  background-size: 150px 70px;
  display: block;
  float: left;
  height: 50px;
  margin-left: 20px;
  width: 16px;
}

.footer-fixed.sp .ic-detail {
  background: url(../images/icons-b.png) no-repeat -25px 15px;
  background-size: 150px 70px;
  display: block;
  float: left;
  height: 50px;
  margin-left: 20px;
  width: 16px;
}

.footer-fixed.sp2 {
  height: 50px;
  padding: 0;
}

.footer-fixed.sp2 button {
  float: left;
  line-height: 50px;
  width: 50%;
}

.footer-fixed.sp2 button.left .txt {
  float: left;
  margin-left: 20px;
}

.footer-fixed.sp2 button.right .txt {
  float: right;
  margin-right: 20px;
}

.footer-fixed.sp2 button.right .num {
  background: #ff4f68;
  border-radius: 50%;
  color: #ffffff;
  float: right;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  margin-top: 13px;
  text-align: center;
  width: 20px;
}

.charge .hint {
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

.white-row-box {
  background: #ffffff;
  display: block;
  font-size: 0.9em;
  height: 50px;
  line-height: 50px;
  padding: 0 4%;
  position: relative;
  width: 92%;
}

.charge .white-row-box input {
  display: block;
  height: 50px;
  line-height: 50px;
  outline: none;
  width: 100%;
}

.charge .white-row-box .txt {
  color: #51befc;
  font-size: 0.8em;
  position: absolute;
  right: 10px;
  top: 0;
}

.charge .white-row-box .ic-reset {
  position: absolute;
  right: 5px;
  top: 8px;
}

.charge .white-row-box .ic-arrow-right {
  position: absolute;
  right: 16px;
  top: 13px;
}

.btn-red {
  background: #ff4f68;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

.btn-cancel {
  background: #ffffff;
  color: #ff4f68;
  display: block;
  font-size: 0.9em;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

.footer-pop {
  height: 0;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}

.footer-pop .white-row-box {
  width: 100%;
}

/* authority manager */
.authority .item {
  background: #ffffff;
  padding: 15px 20px;
}

.authority .item .txt {
  color: #c1c1c1;
  font-size: 0.9em;
  margin-top: 3px;
}

.check-tick {
  display: block;
  float: right;
}

.check-tick.selected .ic-tick {
  background: url(../images/icons-c.png) -113px -1px;
  background-size: 150px 100px;
  display: block;
  height: 20px;
  width: 20px;
}

.ic-globe {
  background: url(../images/icons-c.png) no-repeat -81px -25px;
  background-size: 150px 100px;
  height: 43px;
  width: 43px;
}

.ic-group {
  background: url(../images/icons-c.png) no-repeat -27px -25px;
  background-size: 150px 100px;
  height: 43px;
  width: 43px;
}

/* circle tags */
.tags {

}

.tags .picked {
  background: #ffffff;
  min-height: 100px;
  padding: 4%;
  width: 92%;
}

.tags .picked .tag {
  border: 1px solid #ff4f68;
  color: #ff4f68;
  height: 30px;
  float: left;
  line-height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0 10px;
}

.tags .picked .tag .ic-close {
  background: url(../images/icons-c.png) -3px -20px;
  background-size: 150px 100px;
  display: block;
  float: right;
  height: 30px;
  margin-left: 10px;
  width: 10px;
}

.tags .unpicked {
  background: #ffffff;
  padding: 4%;
  width: 92%;
}

.tags .unpicked .tab {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
}

.tags .unpicked .tab.curr {
  color: #ff4f68;
  float: left;
  margin-right: 20px;
}

.tags .unpicked .box .tag {
  border: 1px solid #ececec;
  height: 30px;
  float: left;
  line-height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0 10px;
}

.tags .unpicked .box .tag.disable {
  color: #c1c1c1;
}

/* circle-information */
.circle-information .info-text {
  background: #ffffff;
  border: 0 none;
  min-height: 100px;
  resize: none;
  padding: 4%;
  width: 100%;
}

.circle-information .white-row-box .ic-reset {
  position: absolute;
  right: 5px;
  top: 8px;
}

/* my-circle */
.my-circle .item .i-middle {
  color: #c1c1c1;
}

.my-circle .item .i-bottom .desc {
  float: left;
  text-align: center;
  width: 33.33%;
}

.my-circle .item .i-bottom .desc .txt {
  font-size: 0.9em;
}

.my-circle .item .i-bottom .desc .num {
  font-size: 1.1em;
  font-weight: bold;
}

.my-circle .white-row-box .ic-arrow-right {
  position: absolute;
  right: 16px;
  top: 13px;
}

.my-circle .white-row-box .subtitle {
  color: #c1c1c1;
  position: absolute;
  right: 31px;
  top: 0;
  text-align: right;
}

/* person-home */
.person-home {

}

.person-home-info {
  height: 240px;
  padding-top: 50px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.person-home-info-bg {
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  height: 304px;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  width: 102%;
  z-index: -1;
}

.person-home-info .avatar {
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
  width: 75px;
}

.person-home-info h1 {
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 15px;
  text-align: center;
}

.person-home-info .sub {
  color: #ffffff;
  font-size: 0.9em;
  margin-top: 5px;
  opacity: 0.5;
  text-align: center;
}

.person-home-info .desc {
  margin-top: 20px;
}

.person-home-info .desc .col {
  color: #ffffff;
  float: left;
  text-align: center;
  width: 33.33%;
}

.person-home-info .desc .col .txt {
  font-size: 0.9em;
}

.person-home-info .desc .col .num {
  font-size: 1.1em;
  font-weight: bold;
}

.person-home .detail {
  background: #ffffff;
}

.person-home .detail .inner {
  margin-left: auto;
  margin-right: auto;
  padding: 4% 0;
  width: 92%;
}

.person-home .detail .tags li {
  float: left;
  margin-right: 10px;
}

.person-home .detail .tag {
  background: #ececec;
  color: #646464;
  font-size: 0.9em;
  line-height: 24px;
  padding-left: 4px;
  padding-right: 4px;
}

.person-home .detail .introduce {
  font-size: 0.9em;
}

/* table-list */
.table-list {
  background: #ffffff;
  width: 100%;
}
.table-list th {
  color: #646464;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 40px;
}
.table-list td {
  border-top: 1px solid #ececec;
  height: 50px;
  text-align: center;
}
.table-list .txt {
  color: #c1c1c1;
  font-size: 0.9em;
}
@media screen and (max-width: 360px) {
  .mr-20p {
    margin-right: 14%;
  }

  .search-result .item .i-subtitle {
    width: 170px;
  }
}
