/* 预设样式 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}
button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after{
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix { display: inline-table; }
/* - Hides from IE-mac - \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* - End hide from IE-mac - */

/* 样式组件 */
/* -float- */
.pull-right {
  float: right;
}
.pull-left {
  float:left;
}

/* -font- */
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-15 {
  font-size: 15px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-28 {
  font-size: 28px;
}

.f-30 {
  font-size: 30px;
}
.f-36 {
  font-size: 36px;
}
.f-bold {
  font-weight: bold;
}
.f-italic {
  font-style: italic;
}
.f-underline {
  text-decoration: underline;
}
/* -margin- */
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.mr-35 {
  margin-right: 35px;
}
.mt-35 {
  margin-top: 35px;
}
.mb-35 {
  margin-bottom: 35px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-60 {
  margin-left: 60px;
}
.mr-60 {
  margin-right: 60px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ml-70 {
  margin-left: 70px;
}
.mr-70 {
  margin-right: 70px;
}
.mt-70 {
  margin-top: 70px;
}
.mb-70 {
  margin-bottom: 70px;
}
.ml-80 {
  margin-left: 70px;
}
.mr-80 {
  margin-right: 70px;
}
.mt-80 {
  margin-top: 70px;
}
.mb-80 {
  margin-bottom: 70px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pr-30 {
  padding-right: 30px;
}

/* -color- */
.cl-51 {
  color: #333333;
}
.cl-102 {
  color: #666;
}
.cl-119 {
  color: #777;
}
.cl-125 {
  color: #7d7d7d;
}
.cl-153 {
  color: #999;
}
.cl-182 {
  color: #b6b6b6;
}
.cl-204 {
  color: #ccc;
}
.cl-red {
  color: #dc3d1e;
}
.cl-blue {
  color: #2489f0;
}
.cl-yellow {
  color: #fddf58;
}
.cl-orange {
  color: #fa8233;
}
.cl-green {
  color: #26b73e;
}
.txt-center {
  text-align: center;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #fc7000;
  text-decoration: underline;
}
.brd-t {
  border-top: 1px solid #eeeeee;
}
.brd-r {
  border-right: 1px solid #eeeeee;
}
.brd-b {
  border-bottom: 1px solid #eeeeee;
}
.brd-l {
  border-left: 1px solid #eeeeee;
}
/* -width- */
.w86 {
  width: 86px !important;
}
/* -input- */
.inp {
  border: 1px solid #cccccc;
  font-size: 14px;
  height: 36px;
  padding-left: 10px;
}
.inp.w {
  border: 1px solid #e4393c;
  color: #e4393c;
}
.inp-box {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  height: 40px;
  padding-left: 34px;
  position: relative;
}
.inp-box input {
  border: 0 none;
  font-size: 14px;
  height: 36px;
  outline: 0 none;
  position: relative;
}
.inp-box.w {
  border: 1px solid #e4393c;
  color: #e4393c;
}
.inp-box.w input {
  color: #e4393c;
}
.warning {
  color: #e4393c;
}
/* -icons- */
.ic-call {
  background: url(../images/icons.png) no-repeat 0 0;
  display: block;
  height: 30px;
  width: 30px;
}
.ic-up {
  background: url(../images/icons.png) no-repeat -46px 0;
  display: block;
  height: 14px;
  width: 14px;
}
.ic-down {
  background: url(../images/icons.png) no-repeat -77px 0;
  display: block;
  height: 14px;
  width: 14px;
}
.ic-arrow-down {
  background: url(../images/icons.png) no-repeat -243px 0;
  display: block;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 16px;
  width: 11px;
}
.ic-flash {
  background: url(../images/icons.png) no-repeat 0 -49px;
  display: block;
  height: 60px;
  width: 60px;
}
.ic-shield {
  background: url(../images/icons.png) no-repeat -91px -49px;
  display: block;
  height: 60px;
  width: 60px;
}
.ic-stock {
  background: url(../images/icons.png) no-repeat -174px -49px;
  display: block;
  height: 60px;
  width: 60px;
}
.ic-profession {
  background: url(../images/icons.png) no-repeat 0 -124px;
  display: block;
  height: 60px;
  width: 60px;
}
.ic-service {
  background: url(../images/icons.png) no-repeat -84px -124px;
  display: block;
  height: 60px;
  width: 60px;
}
.ic-multiple {
  background: url(../images/icons.png) no-repeat -172px -124px;
  display: block;
  height: 60px;
  width: 60px;
}
.ic-guide {
  background: url(../images/icons.png) no-repeat 0 -196px;
  display: block;
  height: 24px;
  width: 24px;
}
.ic-coins {
  background: url(../images/icons.png) no-repeat -29px -196px;
  display: block;
  height: 24px;
  width: 24px;
}
.ic-book {
  background: url(../images/icons.png) no-repeat -61px -196px;
  display: block;
  height: 24px;
  width: 24px;
}
.ic-board {
  background: url(../images/icons.png) no-repeat -95px -196px;
  display: block;
  height: 24px;
  width: 24px;
}
.ic-graph {
  background: url(../images/icons.png) no-repeat -129px -196px;
  display: block;
  height: 24px;
  width: 24px;
}
.ic-paper {
  background: url(../images/icons.png) no-repeat -163px -196px;
  display: block;
  height: 24px;
  width: 24px;
}
.ic-person {
  background: url(../images/icons.png) no-repeat -12px -238px;
  display: block;
  height: 36px;
  width: 36px;
}
.ic-charge {
  background: url(../images/icons.png) no-repeat -70px -239px;
  display: block;
  height: 36px;
  width: 36px;
}
.ic-consult {
  background: url(../images/icons.png) no-repeat -129px -241px;
  display: block;
  height: 36px;
  width: 36px;
}
.ic-money-tip {
  background: url(../images/icons.png) no-repeat -1px -318px;
  display: block;
  height: 16px;
  width: 16px;
}
.ic-charging {
  background: url(../images/icons.png) no-repeat -32px -318px;
  display: block;
  height: 16px;
  width: 16px;
}
.ic-withdrawing {
  background: url(../images/icons.png) no-repeat -63px -318px;
  display: block;
  height: 16px;
  width: 16px;
}
.ic-mt4 {
  background: url(../images/icons.png) no-repeat -93px -318px;
  display: block;
  height: 16px;
  width: 16px;
}
.ic-me {
  background: url(../images/icons.png) no-repeat -129px -318px;
  display: block;
  height: 16px;
  width: 16px;
}
.ic-bank-card {
  background: url(../images/icons.png) no-repeat -158px -318px;
  display: block;
  height: 16px;
  width: 16px;
}
.ic-id-card {
  background: url(../images/icons.png) no-repeat -197px -298px;
  display: block;
  height: 14px;
  width: 18px;
}
.ic-credit-card {
  background: url(../images/icons.png) no-repeat -248px -298px;
  display: block;
  height: 14px;
  width: 18px;
}
.ic-no-record {
  background: url(../images/icons.png) no-repeat 0 -355px;
  display: block;
  height: 100px;
  width: 100px;
}
.ic-success {
  background: url(../images/icons.png) no-repeat -115px -354px;
  display: block;
  height: 38px;
  width: 38px;
}
.ic-mobile {
  background: url(../images/icons.png) no-repeat -175px -363px;
  display: block;
  height: 20px;
  width: 14px;
}
.ic-lock {
  background: url(../images/icons.png) no-repeat -216px -363px;
  display: block;
  height: 20px;
  width: 16px;
}
/* -btns- */
.btn-blue {
  background: none;
  border: 0 none;
  color: #5692d5;
  cursor: pointer;
  text-decoration: underline;
}
.btn-blue:hover {
  color: #fc7000;
}
.btn-gray {
  background: none;
  border: 0 none;
  color: #999999;
  cursor: pointer;
  text-decoration: underline;
}
.btn-gray:hover {
  color: #fc7000;
}
.btn-normal {
  background: #fc7000;
  border: 0 none;
  border-bottom: 3px solid #ca5a00;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 180px;
}
.btn-normal:hover {
  background: #ff8828;
  border-bottom: 3px solid #cc6d20;
  color: #ffffff;
  text-decoration: none;
}
.btn-common {
  background: #fc7000;
  border: 0 none;
  border-bottom: 2px solid #ca5a00;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 240px;
}
.btn-common:hover {
  background: #ff8828;
  border-bottom: 2px solid #cc6d20;
  color: #ffffff;
  text-decoration: none;
}
.btn-qq-gray {
  background: #5c5c5c;
  border-radius: 4px;
  color: #cccccc !important;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  padding-left: 25px;
  padding-right: 7px;
  position: relative;
}
.btn-qq-gray .ic-qq {
  background: url(../images/icons.png) no-repeat -206px 0;
  height: 14px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 13px;
}
.btn-qq-gray:hover {
  background: #858585;
  color: #ffffff !important;
  text-decoration: none;
}
.btn-qq-gray:hover .ic-qq {
  background: url(../images/icons.png) no-repeat -174px 0;
  height: 14px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 13px;
}
.link-blue {
  color: #5692d5;
  cursor: pointer;
  font-size: 12px;
}
.link-blue:hover {
  color: #ff8828;
  cursor: pointer;
}
.btn-small-orange {
  background: #fc7000;
  border: 0 none;
  border-bottom: 1px solid #ca5a00;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 68px;
}
.btn-small-orange:hover {
  background: #ff8828;
  border-bottom: 1px solid #cc6d20;
}
.btn-small-gray {
  background: #8396a1;
  border: 0 none;
  border-bottom: 1px solid #697881;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 68px;
}
.btn-small-gray:hover {
  background: #9fb2bd;
  border-bottom: 1px solid #7f8e97;
}
.btn-confirm {
  background: #fc7000;
  border: 0 none;
  border-bottom: 2px solid #ca5a00;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  width: 68px;
}
.btn-confirm:hover {
  background: #ff8828;
  border-bottom: 2px solid #cc6d20;
}
/* top */
.top {
  padding: 20px 0;
}
.top-left {
  float: left;
}
.top-right {
  float: right;
  line-height: 36px;
}
.top-delimiter {
  border-right: 1px solid #dddddd;
  float: left;
  line-height: 15px;
  margin-right: 20px;
  margin-top: 10px;
}
.top-logo {
  background: url(../images/logo.png);
  display: block;
  height: 36px;
  width: 390px;
}
.top-link {
  float: left;
  font-size: 15px;
  margin-right: 20px;
}
.top .ic-call {
  float: left;
  margin-top: 3px;
}
.top .phone-number {
  color: #fa8233;
  float: left;
  font-size: 24px;
  line-height: 36px;
  margin-left: 20px;
}
/* nav */
.nav {
  background: url(../images/nav-bg.png) repeat-x;
  line-height: 40px;
}
.nav .item {
  float: left;
  text-align: center;
  position: relative;
  width: 14.28%;
}
.nav .item:hover a {
  color: #333333;
  text-decoration: none;
}
.nav .item.active, .nav .item:hover {
  background: url(../images/nav-item-bg.png) repeat-x;
}
.nav .drop-down {
  border-top: 1px solid #dddddd;
  display: none;
  line-height: 34px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 10;
}
.nav .sub-item {
  background: url(../images/nav-sub-item-bg.png) repeat-x;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  color: #4b5c66;
  font-size: 12px;
  text-align: center;
}
.nav .sub-item:hover a {
  color: #fa8233;
}
/* # index start */
/* banner */
.banner {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 1920px;
}
.banner .inner {
  position: relative;
}
.banner .txt {
  color: #ffffff;
  left: 0;
  position: absolute;
  top: 56px;
}
.banner .txt h1 {
  font-size: 32px;
  font-weight: bold;
}
.banner .txt h2 {
  font-size: 20px;
  margin-top: 30px;
}
.banner .item {
  display: block;
  height: 300px;
  width: 100%;
}
.banner .btn {
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  line-height: 46px;
  margin-top: 30px;
  text-align: center;
  width: 160px;
}
.banner .btn:hover, .banner .btn:active {
  text-decoration: none;
}
.banner .focus {
  left: 0;
  position: absolute;
  top: 270px;
}
.banner .focus li {
  background: url(../images/icons.png) no-repeat -145px 0;
  display: block;
  float: left;
  height: 10px;
  width: 10px;
}
.banner .focus li.active {
  background: url(../images/icons.png) no-repeat -116px 0;
}
.banner .focus li.m {
  margin-left: 10px;
}

/* index-summary */
.index-summary {
  border-bottom: 1px solid #dddee0;
  padding: 30px 0;
}
.index-summary .i-left {
  box-sizing: border-box;
  float: left;
  width: 720px;
}
.index-summary .i-right {
  float: left;
  margin-left: 20px;
}
.index-summary .item {
  float: left;
  text-align: center;
  width: 16.666%;
}
.index-summary .item .txt {
  padding-left: 18px;
  position: relative;
}
.index-summary .item .ic-up {
  left: 0;
  position: absolute;
  top: 1px;
}
.index-summary .item .ic-down {
  left: 0;
  position: absolute;
  top: 1px;
}
.index-summary .item .sub-txt {
  font-size: 12px;
  margin-top: 10px;
}

/* index-content */
.index-content {
  padding: 30px 0;
}
.index-content .i-left {
  float: left;
  width: 650px;
}
.index-content .i-right {
  float: right;
  width: 280px;
}
.index-content .title {
  font-size: 18px;
}
.index-content .features .item {
  background: #eef2f5;
  border-bottom: 3px solid #d8dce2;
  border-right: 3px solid #d8dce2;
  box-sizing: border-box;
  float: left;
  height: 160px;
  padding-top: 30px;
  position: relative;
  width: 212px;
}
.index-content .features .item .ic {
  margin-left: auto;
  margin-right: auto;
}
.index-content .features .item .txt {
  margin-top: 20px;
  text-align: center;
}
.index-content .features .item.m {
  margin-left: 7px;
}
.index-content .features .item.t {
  margin-top: 7px;
}
.index-content .features .item .desc {
  background: #3b516c;
  bottom: -3px;
  box-sizing: border-box;
  display: block;
  height: 0;
  opacity: 0.9;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 212px;
}
.index-content .features .item .desc .d-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.index-content .features .item .desc .d-content {
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  margin: 10px auto 0 auto;
  width: 80%;
}
.index-content .intro .in-left {
  float: left;
}
.index-content .intro .in-right {
  color: #666666;
  float: right;
  font-size: 12px;
  line-height: 25px;
  width: 347px;
}
.index-content .announcement li {
  font-size: 12px;
  line-height: 30px;
}
.index-content .announcement .item {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 168px;
}
.index-content .announcement .time {
  color: #999999;
  float: right;
  margin-right: 20px;
}
.index-content .beginner-guide .item {
  box-sizing: border-box;
  float: left;
  font-size: 12px;
  line-height: 40px;
  padding-left: 45px;
  position: relative;
  width: 50%;
}
.index-content .beginner-guide .item .ic {
  left: 10px;
  position: absolute;
  top: 8px;
}

/* block */
.block {

}
.block .title {
  background: url(../images/block-title-bg.png) repeat-x center;
  height: 40px;
  line-height: 40px;
}
.block .title .txt {
  background: #ffffff;
  display: block;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 160px;
}
.block .content {
  padding: 20px 0;
}
.block .content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  color: #cccccc;
  background-color: #343434;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer .inner {
  width: 960px;
  margin: 0 auto;
}
.footer dl {
  margin-right: 40px;
}
.footer dt {
  font-size: 16px;
}
.footer dd {
  line-height: 25px;
  font-size: 12px;
}
.footer a {
  color: #777777;
}
.footer a:hover {
  color: #cccccc;
}
.footer .service {
  width: 200px;
}
.footer .others {
  margin-top: 30px;
  padding-top: 20px;
  line-height: 36px;
  border-top: 1px solid #444444;
}
.footer .others a:hover {
  text-decoration: none;
}
.copyright {
  color: #777777;
  font-size: 12px;
}

.bar-fixed {
  bottom: 300px;
  right: 0;
  position: fixed;
}
.bar-fixed .item {
  background: #fc7000;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 12px;
  height: 70px;
  padding-top: 10px;
  text-align: center;
  width: 70px;
}
.bar-fixed .item:hover {
  background: #ff8828;
}
.bar-fixed .item .txt {
  display: block;
  margin-top: 5px;
}
.bar-fixed .item:hover {
  color: #ffffff;
  text-decoration: none;
}
.bar-fixed .item.m {
  margin-top: 6px;
}
.bar-fixed .item .ic {
  margin-left: auto;
  margin-right: auto;
}
/* # index end */

/* # user-center */
/* sidebar */
.main {
  background: #f2f3f4;
  min-height: 600px;
  padding: 20px 0;
  position: relative;
}
.user-center .sidebar {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 160px;
}
.user-center .sidebar .group {
  font-size: 14px;
  padding: 10px 0;
}
.user-center .sidebar .group.brd-t {
  border-top: 1px solid #e5e5e5;
}
.user-center .sidebar .group.brd-b {
  border-bottom: 1px solid #e5e5e5;
}
.user-center .sidebar .group .title {
  color: #a7a7a7;
  font-size: 12px;
  line-height: 24px;
  padding-left: 20px;
}
.user-center .sidebar .group .item {
  position: relative;
}
.user-center .sidebar .group .item a {
  color: #4b5c66;
  display: block;
  line-height: 36px;
  padding-left: 50px;
}
.user-center .sidebar .group .item:hover {
  background: #f6f7f7;
}
.user-center .sidebar .group .item:hover a {
  color: #4b5c66;
  text-decoration: none;
}
.user-center .sidebar .group .item .ic {
  left: 20px;
  position: absolute;
  top: 10px;
}
.user-center .sidebar .group .item.active {
  background: #4b5c66;
}
.user-center .sidebar .group .item.active a, .user-center .sidebar .group .item.active a:hover {
  color: #ffffff;
}
.user-center .sidebar .group .item.active .ic-money-tip {
  background: url(../images/icons.png) no-repeat -1px -297px;
  display: block;
  height: 16px;
  width: 16px;
}
.user-center .sidebar .group .item.active .ic-charging {
  background: url(../images/icons.png) no-repeat -32px -297px;
  display: block;
  height: 16px;
  width: 16px;
}
.user-center .sidebar .group .item.active .ic-withdrawing {
  background: url(../images/icons.png) no-repeat -63px -297px;
  display: block;
  height: 16px;
  width: 16px;
}
.user-center .sidebar .group .item.active .ic-mt4 {
  background: url(../images/icons.png) no-repeat -93px -297px;
  display: block;
  height: 16px;
  width: 16px;
}
.user-center .sidebar .group .item.active .ic-me {
  background: url(../images/icons.png) no-repeat -129px -297px;
  display: block;
  height: 16px;
  width: 16px;
}
.user-center .sidebar .group .item.active .ic-bank-card {
  background: url(../images/icons.png) no-repeat -158px -297px;
  display: block;
  height: 16px;
  width: 16px;
}
/* sidebar end */

/* content-wrapper */
.user-center .content-wrapper {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  float: right;
  height: 100%;
  padding: 30px;
  width: 780px;
}
.user-center .content-wrapper h1.title {
  color: #4b5c66;
  font-size: 16px;
  font-weight: bold;
}
.user-center .content-wrapper .summary .box {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px 0;
}
.user-center .content-wrapper .summary .box .item {
  box-sizing: border-box;
  float: left;
  text-align: center;
  width: 33.33%;
}
.user-center .content-wrapper .summary .box .item a.title {
  text-decoration: underline;
}
.user-center .content-wrapper .summary .box .btns {
  margin-left: auto;
  margin-right: auto;
  width: 146px;
}
.user-center .content-wrapper .summary .box .i-t {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100px;
}
.user-center .content-wrapper .summary .box .txt {
  color: #999999;
  padding-left: 25px;
  position: relative;
}
.user-center .content-wrapper .summary .box a.txt:hover {
  color: #fc7000;
}
.user-center .content-wrapper .summary .box a.txt:hover .ic-id-card {
  background: url(../images/icons.png) no-repeat -197px -319px;
}
.user-center .content-wrapper .summary .box a.txt:hover .ic-credit-card {
  background: url(../images/icons.png) no-repeat -248px -319px;
}
.user-center .content-wrapper .summary .box .txt .ic {
  left: 0;
  position: absolute;
  top: 0;
}
.user-center .content-wrapper .summary .box .account {
  background: #f5f5f5;
  color: #4b5c66;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  width: 196px;
}
.user-center .content-wrapper .record .table table {
  width: 100%;
}
.user-center .content-wrapper .record .table th {
  background: #f7f7f7;
  color: #999999;
  height: 44px;
  line-height: 44px;
  text-align: left;
}
.user-center .content-wrapper .record .table td {
  border-bottom: 1px dotted #e4e4e4;
  padding: 20px 0;
}
.user-center .content-wrapper .record .table select {
  border: 1px solid #eaeaea;
  color: #999999;
  height: 30px;
}
/* content-wrapper end */
.no-record {
  padding-top: 50px;
  padding-bottom: 50px;
}
.no-record .ic-no-record {
  margin-left: auto;
  margin-right: auto;
}
.pagination {
  line-height: 32px;
}
.pagination .item {
  float: left;
  margin-right: 10px;
}
.pagination .item a {
  border: 1px solid #dddddd;
  display: block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}
.pagination .item.active a {
  background: #fc7000;
  border: 1px solid #fc7000;
  color: #ffffff;
}
.pagination .item a:hover {
  border: 1px solid #fc7000;
  text-decoration: none;
}
.pagination .pre, .pagination .next {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 66px;
}
.pagination .pre:hover, .pagination .next:hover {
  border: 1px solid #fc7000;
  text-decoration: none;
}
/* pop-window */
.pop-window {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  display: none;
  width: 500px;
}
.window-title {
  background-color: #f5f5f5;
  border-bottom: 1px solid #eeeeee;
  line-height: 45px;
  padding-left: 20px;
  position: relative;
}
.window-title .close {
  background: url(../images/icons.png) no-repeat -126px -425px;
  cursor: pointer;
  display: block;
  height: 15px;
  right: 14px;
  position: absolute;
  top: 14px;
  width: 15px;
}
.window-body {
  background-color: #fff;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}
.window-body table {
  width: 100%;
}
.window-body table .col-1 {
  padding-right: 10px;
}
.window-body table td {
  padding: 10px 0;
}
/* callout */
.callout {
  background: url(../images/callout-bg.png) repeat;
  border-radius: 5px;
  display: none;
  height: 30px;
  line-height: 30px;
  padding: 20px 0 20px 30px;
  position: relative;
  text-align: center;
  width: 200px;
  z-index: 1000;
}
.callout .msg {
  color: #ffffff;
}
.callout .ic {
  left: 30px;
  position: absolute;
  top: 15px;
}
/* # user-center end */

.inp-box {

}
.inp-box.w {

}
.m {
  min-height: 480px;
  padding: 20px 0;
}
/* # login */
.m h1.title {
  color: #fc7000;
  font-size: 24px;
}
.login {
  font-size: 14px;
}
.login .inner .in-left {
  float: left;
  width: 640px;
}
.login .inner .in-left table {
  width: 600px;
}
.login .inner .in-left table .warning {
  font-size: 12px;
}
.login .inner .in-left td {
  padding: 10px 0;
}
.login .inner .in-right {
  float: left;
}
.login .inner .inp-box .ic {
  left: 10px;
  position: absolute;
  top: 8px;
}