.promotion img {
  border:none;
  display: block;
}
.inner {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.banner-box {
  position: relative;
  height:auto;
  
}
.register {
  height: 52px;
  width: 200px;
  position: absolute;
  top:50%;
  left:50%;
}
.register a {
  background: url(../images/banner/register@1x.png) 0 0 no-repeat ;
  background-image: -webkit-image-set( url(../images/banner/register@1x.png) 1x, url(../images/banner/register@2x.png) 2x);
  display: block;
  width: 200px;
  height: 52px;
  margin-left: -100px;
  margin-top: -25px;
}

.register a:hover {
  background-image: -webkit-image-set( url(../images/banner/registerhover@1x.png) 1x, url(../images/banner/registerhover@2x.png) 2x);
}

.operation {
  margin-top: 10px;
  position:relative;
}
.operation a {
  bottom: 25px;
  background: #fa9406;
  color: #fff;
  display: block;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  text-align: center;
  height: 44px;
  line-height: 44px;
  left: 388px;
  position: absolute;
  width: 160px;
  z-index: 100;
}
.advantage,
.operation {
  padding-left: 20px;
}
.currency {
  position: relative;
}
.company {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background:#f2f2f2;
  bottom: 400px;
  padding:20px 40px;

}

.open-door {
  border:1px solid yellow;
  border-radius:6px;
  bottom:200px;
  color:yellow;
  display: block !important;
  left: 403px;
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  width: 138px;
  height: 46px;
  position: absolute;
}

a:hover {
  color:#fff;
  cursor:pointer;
}
.currency img {
  margin: 0 auto;
  width: 100%;
}
.currency  {
  margin: 20px auto;
}