/* 预设样式 */
* {
  margin:0;
  padding:0;
  font-size: 12px;
  font-family: "微软雅黑";
  /*color: #555;*/
}
a:active,a:visited {
  text-decoration: none;
}
a:hover {
  color: #c50024;
  text-decoration: underline;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
img {
  border: 0;
}
.clearfix:after{
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix { display: inline-table; }
/* - Hides from IE-mac - \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* - End hide from IE-mac - */

/* 样式组件 */
/* -float- */
.pull-right {
  float: right;
}
.pull-left {
  float:left;
}
/* -font- */
.f-12 {
  font-size: 12px !important;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-30 {
  font-size: 30px;
}
.f-36 {
  font-size: 36px;
}
.f-bold {
  font-weight: bold;
}
.f-italic {
  font-style: italic;
}
.f-underline {
  text-decoration: underline;
}
/* -margin- */
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.mr-35 {
  margin-right: 35px;
}
.mt-35 {
  margin-top: 35px;
}
.mb-35 {
  margin-bottom: 35px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* -color- */
.cl-102 {
  color: #666;
}
.cl-119 {
  color: #777;
}
.cl-153 {
  color: #999;
}
.cl-204 {
  color: #ccc;
}
.cl-deepred {
  color: #c50024;
}
.cl-red {
  color: #df0000;
}
.cl-blue {
  color: #2489f0;
}
.cl-yellow {
  color: #fddf58;
}
.cl-green {
  color: #07a10e;
}
.txt-center {
  text-align: center;
}
.w1200 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* 首页样式 */
/* site-nav-top 头部导航 */
.site-nav-top {
  border-bottom:1px solid #f2f2f2;
}
.site-nav-top .inner {
  width: 960px;
  margin: 0 auto;
}
.site-nav-top .inner p {
  line-height: 40px;
}
.site-nav-top .base-phone {
  position: relative;
  padding-left: 30px;
}
.site-nav-top .phone-icon-white {
  display: block;
  width: 18px;
  height: 23px;
  position: absolute;
  top: 10px;
  left: 5px;
  background: url(../images/icons.png) no-repeat -9px -66px;
}
/* logo + 导航栏 */
.site-nav {
  width: 960px;
  margin: 25px auto;
}
.site-nav li {
  display: inline;
  position: relative;
}
/* - 新 icon */
.new-icon {
  background: url(../images/icons.png) no-repeat -35px -69px;
  display: block;
  height: 18px;
  position: absolute;
  right: -19px;
  top: -22px;
  _right:390px;
  width: 22px;
}
.site-nav a {
  font-size: 16px;
}
.site-nav a.curr {
  color: #c50024;
}
.site-nav a:hover {
  text-decoration: none;
}
.logo-bg {
  display: block;
  width: 360px;
  height: 46px;
  background: url(../images/icons.png) no-repeat 0 0;
}
/* banner 通栏广告 */
.banner-slide {
  position: relative;
  /*height: 295px;*/
}
.banner-slide li {
  width: 100%;
  height: 295px;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-link {
  display: block;
  height: 295px;
}
.banner {
  height: 295px;
  overflow: hidden;
}
/* - banner漂浮框 - */
.fl-base {
  width: 960px;
  height: 1px;
  margin: 0 auto;
  position: relative;
}
.fl-box {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 0;
  width: 326px;
  height: 235px;
  background: url(../images/fl_box_bg.png) ;
  z-index: 11;
}
.fl-content {
  margin-top: 20px;
  margin-left: 33px;
}
.anchor-btn {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 260px;
  line-height: 50px;
  background-color: #c50024;
  border-radius: 4px;
}
.anchor-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #de0029;
}

/* - 焦点 - */
.banner-focus {
  position: absolute;
  top: 266px;
  left: 300px;
  z-index: 11;
}
.banner-focus li {
  float: left;
  margin-right: 10px;
}
.banner-focus .focus {
  display: block;
  width: 48px;
  height: 6px;
  background-color: #fff;
  filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.50;
}
.banner-focus .focus.curr {
  filter:alpha(opacity=100); -moz-opacity:1; opacity:1;
}
/* 数据简述 */
.simple-datas {
  width: 960px;
  padding: 20px 0;
  margin: 0 auto;
}
.simple-datas .item {
  float: left;
  padding-left: 90px;
  width: 140px;
}
.simple-datas .item.brd-l {
  border-left: 1px solid #eeeeee;
}
/* slogan 标语，宣传语 */
.slogan {
  padding: 30px 0;
  background-color:#f8f8f8 ;
  /*border-bottom:1px solid #f2f2f2;*/
}
.slogan ul {
  width: 960px;
  margin: 0 auto;
}
.slogan li {
  float: left;
  width: 240px;
}
.slogan-icon1 {
  display: block;
  width: 47px;
  height: 47px;
  background: url(../images/icons.png) no-repeat -75px -63px;
}
.slogan-icon2 {
  display: block;
  width: 47px;
  height: 47px;
  background: url(../images/icons.png) no-repeat -140px -64px;
}
.slogan-icon3 {
  display: block;
  width: 47px;
  height: 47px;
  background: url(../images/icons.png) no-repeat -197px -66px;
}
.slogan-icon4{
  display: block;
  width: 47px;
  height: 47px;
  background: url(../images/icons.png) no-repeat -248px -70px;
}
.slogan-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.slogan-desc {
  line-height: 20px;
  color: #999;
}

/* apply-box 申请操盘 */
.apply-box {
  padding: 30px 0 30px 0;
  background-color: #f8f8f8;
}
.main-steps {
  /*margin-top: 20px;*/
  margin-bottom: 20px;
}
.main-steps-items {
  line-height: 30px;
}
.main-steps .steps-num-bg {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: #cccccc;
  background: url(../images/steps_num_bg.png) no-repeat;
}
.main-steps .main-steps-arrow {
  display: block;
  width: 21px;
  height: 30px;
  background: url(../images/steps_arrow.png) no-repeat center;
}
.main-steps .main-steps-items {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
}
.main-steps .item {
  float: left;
  margin-left: 20px;
}
.main-steps .item.curr .steps-num-bg {
  color: #fff;
  background: url(../images/steps_num_bg_curr.png) no-repeat;
}
.main-steps .item.curr .steps-text {
  color: #df0000;
}
.apply-area {
  margin: 30px auto 0 auto;
  padding: 20px 0 20px 0;
  width: 960px;
  /*height: 525px;*/
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}
/* - 申请操盘 - */
.apply {

}
.apply .title {
  /*margin-left: 20px;*/
}
.apply .content {
  margin-top: 20px;
}
.apply .choosen-area {
  width:  437px;
  height: 415px;
  margin-left: 10px;
  overflow: hidden;
}
/* -- 申请操盘选择区 -- */
.apply .cho {
  /*margin-left: 20px;*/
}
.apply .cho-item p {
  /*font-size: 14px;*/
}
.apply .cho-item {
  cursor: pointer;
  width: 118px;
  height: 98px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
.apply .other-cho-btn {
  cursor: pointer;
  width: 120px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
.apply .cho-item-hover {
  border: 1px solid #ea4040;
}
.apply .other-cho-hover {
  border: 1px solid #ea4040;
}
.apply .selected {
  color: #df0000;
  width: 116px;
  height: 96px;
  border: 2px solid #ea4040;
  background: url(../images/tick.png) no-repeat 86px 67px;
}
/* - 其他金额 - */
.other-cho {
  margin-left: 80px;
  margin-top: 130px;
}

.other-cho-inp {
  width: 250px;
  line-height: 50px;
  font-size: 24px;
  margin-top: 10px;
  padding-left: 14px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

/* - 中箭头 - */
.mid-arrow-bg {
  display: block;
  width: 39px;
  height: 345px;
  background: url(../images/mid_arrow_bg.png) no-repeat;
  float: left;
  /*margin-left: 20px;*/
  margin-top: 60px;
}
/* - 操盘规则 - */

.trading-position {
  /* 仅用来js改变仓位提示信息 */
  position: relative;
}

.rules {
  width: 420px;
}
.rules td {
  font-size: 14px;
}
.rules tr {
  line-height: 47px;
}
#week-apply .rules tr {
  line-height: 40px;
}
#mouth-apply .rules tr {
  line-height: 45px;
}
.dotted-line {
  height: 1px;
  background: url(../images/dotted_line.png) repeat-x;
}

/* mouth 按月操盘 */
#mouth-apply .title {
  /*margin-left: 20px;*/
}
#mouth-apply .content {
  margin-top: 20px;
}
#mouth-apply .choosen-area {
  width: 437px;
  height: 415px;
  margin-left: 10px;
  overflow: hidden;
}
/* -- 申请操盘选择区 -- */
#mouth-apply .cho {
  margin-left: 70px;
}
#mouth-apply .cho-item p {
  /*font-size: 14px;*/
}
#mouth-apply .cho-item {
  cursor: pointer;
  width: 120px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
#mouth-apply .other-cho-btn {
  cursor: pointer;
  width: 120px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
#mouth-apply .cho-item-hover {
  border: 1px solid #ea4040;
}
#mouth-apply .other-cho-hover {
  border: 1px solid #ea4040;
}
#mouth-apply .selected {
  color: #df0000;
  width: 116px;
  height: 96px;
  border: 2px solid #ea4040;
  background: url(../images/tick.png) no-repeat 110px 74px;
}
.base-inp {
  margin-left: 30px;
}
.mouth-inp {
  width: 336px;
  line-height: 50px;
  font-size: 24px;
  margin-top: 10px;
  padding-left: 14px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
.mouth-cho {
  margin-left: 10px;
  margin-top: 20px;
}
.gray-box {
  width: 400px;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 70px;
  height: 160px;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: center;
}
.gray-box p {
  line-height: 30px;
}
.special {
  width: 90px;
  margin: 0 auto;
  line-height: 18px;
  border: 1px solid #ea4040;
}
.special .special-mark {
  display: block;
  float: left;
  width:28px;
  height: 18px;
  color: #fff;
  background-color: #ea4040;
}
/* 选项不可选的样式 */
.mouth-cho .disable {
  cursor: default;
  width: 120px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
.mouth-cho .disable span {
  color: #999;
}
.mouth-cho .disable .special {
  border-color: #ddd;
}
.mouth-cho .disable .special .special-mark {
  color: #fff;
  background-color: #ddd;
}
/* 使用时长选择 */
#cycle {
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 14px;
}
/* -- hint 操盘提示 -- */
.hint-base {
  display: inline;
  position: relative;
}
.hint-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/hint_icon.png) no-repeat center;
  position: absolute;
  left: 10px;
  top: 0;
}
.hint-content {
  line-height: 18px;
  width: 235px;
  padding: 10px;
  border: 1px solid #f9eabd;
  background-color: #fffae6;
  position: absolute;
  left: 40px;
  top: -14px;
  display: none;
  z-index:10;
}


/* 确认区域 */
.btn-area {
  text-align: center;
}
.apply-btn {
  cursor: pointer;
  width: 250px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  font-size: 16px;
  background-color: #cc0000;
  border: 0;
  color: #fff;
  border-radius: 4px;
}
.apply-btn-disable {
  width: 250px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  background-color: #c2c8cc;
  border: 0;
  color: #fff;
  border-radius: 4px;
}
.apply-btn:hover {
  color: #fff;
  background-color: #de0029;
  text-decoration: none;
}
.apply-btn:active,.apply-btn:focus {
  color: #fff;
}
.check-base {
  position: relative;
}
.check-hint {
  position: absolute;
  right: -102px;
  bottom: 0;
}

/* 标签切换 */
.tab-wrap {
  position: absolute;
  left: -40px;
  top: 30px;
}
a.tab {
  display: block;
  margin-top: 10px;
  background-color: #c2c8cc;
  font-size: 16px;
  color: #fff;
  padding: 24px 12px;
  border-radius: 4px 0 0 4px;
}
.tab:hover {
  color: #fff;
  text-decoration: none;
  background-color: #aab0b5;
}
.tab.current {
  background-color: #c50024 !important;
}

/* info 综合信息 */
.info {
  background-color: #ffffff;
}
.info .inner {
  width: 960px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.info .line-bg {
  display: block;
  width: 960px;
  height: 10px;
  background: url(../images/line_bg.png) no-repeat center;
}
.info a {
  color: #6c88c4;
}
.info a:hover {
  color: #c50024;
}
/* - ranklist 排行榜 - */
.rankings {

}
.rankings-title {
  position: relative;
}
.rankings .switch-tab-wrap {
  position: absolute;
  right: 25px;
  top: 0px;
}
.rankings .switch-tab-wrap li {
  float: left;
  line-height: 30px;
  text-align: center;
  margin-right: 25px;
}
.rankings .switch-tab {
  display: block;
  width: 56px;
  font-size: 14px;
  color: #000;
  float: left;
}
.rankings .switch-tab:hover {
  color: #c50024;
  border-bottom: 3px solid #c50024;
  text-decoration: none;
}
.rankings .switch-tab.curr {
  color: #c50024;
  text-decoration: none;
  border-bottom: 3px solid #c50024;
}

/* -- ranklist 排行列表 -- */
.ranklist th {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.ranklist td {
  line-height: 45px;
  border-bottom: 1px solid #eeeeee;
}
.ranklist th {
  font-weight: normal;
  text-align: left;
  line-height: 50px;
  background-color: #f8f8f8;
}
.ranklist th, .ranklist td, .ranklist a, .ranklist span {
  font-size: 14px;
}

.rank-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  background: url(../images/icons.png) no-repeat -85px -120px;
}
.rank-gray {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 24px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  background-color: #c2c8cc;
}
/* -- sort 排序样式 -- */
.sort.a {
  cursor: pointer;
  position: relative;
}
.sort.b {
  cursor: pointer;
  position: relative;
}
.sort-icon {
  display: block;
  width: 11px;
  height: 12px;
  background: url(../images/icons.png) no-repeat -57px -173px;
}
span.sort-icon.red {
  background: url(../images/icons.png) no-repeat -27px -173px;
}
span.sort-icon.sort-icon-hover {
  background: url(../images/icons.png) no-repeat -27px -173px;
}
.sort.a .sort-icon {
  position: absolute;
  left: 105px;
  top: 20px;
}
.sort.b .sort-icon {
  position: absolute;
  left: 50px;
  top: 20px;
}
/* 新闻栏 */
.news {
  width: 960px;
  margin: 0 auto;
}
.news .panel-one {
  width: 306px;
  float: left;
}
.news .panel-two {
  width: 284px;
  float: left;
}
.news ul {
  list-style-type: disc;
  color:#cccccc;
  padding-left: 15px;
  font-size: 16px;
}
.news li {
  line-height: 28px;
}
.news .notice p {
  width: 210px;
}
.stock-block-red {
  width: 90px;
  height: 70px;
  text-align: center;
  background-color: #ffe9ea;
  border: 1px solid #f5d8d9;
}
.stock-block-green {
  width: 90px;
  height: 70px;
  text-align: center;
  background-color: #f2fee3;
  border: 1px solid #e0efcd;
}
.link-relation {
  color: #6c88c4;
}

/* - partners 合作机构 - */
.partners {

}
.partners li {
  display: inline;
  margin-right: 20px;
}
.partners img {
  border: 1px solid #eeeeee;
}

/* - download 下载区 */
.download {
  padding-left: 58px;
  border-left: 1px solid #eeeeee;
  padding-bottom: 20px;
}


/* footer 底部 */
.footer {
  color: #cccccc;
  background-color: #343434;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer .inner {
  width: 960px;
  margin: 0 auto;
}
.footer dl {
  margin-right: 100px;
}
.footer dt {
  font-size: 16px;
  font-weight: bold;
}
.footer dd {
  line-height: 30px;
}
.footer a {
  color: #777777;
  font-size: 14px;
}
.footer a:hover {
  color: #cccccc;
  font-size: 14px;
}
.footer {

}
.logo-bg-gray {
  display: block;
  width: 132px;
  height: 46px;
  background: url(../images/logo_bg_gray.png) no-repeat;
}
.footer .phone-icon {
  display: block;
  width: 18px;
  height: 24px;
  background: url(../images/icons.png) no-repeat -10px -113px;
}
.footer .qq-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/icons.png) no-repeat -42px -119px;
}
.footer .service {
  width: 200px;
}
.footer .others {
  margin-top: 30px;
  padding-top: 20px;
  line-height: 36px;
  border-top: 1px solid #444444;
}
.copyright {
  color: #777777;
  font-size: 12px;
}
/* 申请操盘子页 样式 */
.main-box {
  padding: 30px 0 30px 0;
  background-color: #f8f8f8;
}
.main-box .confirm-box {
  width: 760px;
  padding: 30px 100px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #f2f2f2;
}
.brd-solid {
  border-top: 1px solid #dedede;
}
.brd-solid-light {
  border-top: 1px solid #f2f2f2;
}
.confirm-table {

}
.confirm-table .th {
  background-color: #f8f8f8;
}
.confirm-table td.th, .confirm-table td.td {
  height: 53px;
}
.select-style {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 14px;
}
.goback-btn {
  cursor: pointer;
  background: none;
  border: 0 none;
  font-size: 14px;
  color: #6c88c4;
}


/* 用户中心 样式 */
.user-wrap {
  background-color: #f2f2f2;
  border: 1px solid #dedede;
  width: 960px;
  margin: 30px auto;
}
/* 用户中心 导航 */
.user-nav {
  float: left;
  width: 165px;
  /*background-color: #f2f2f2;*/
  padding-top: 20px;
  padding-bottom: 20px;
  /*border-right: 1px solid #dedede;*/
}
.user-nav * {
  font-size: 14px;
}
.user-nav a:hover, .user-nav a:active {
  text-decoration: none;
  color: #000000;
}
.user-nav .nav-group {
  border-bottom: 1px solid #eaeaed;
}
.user-nav .group-title,.user-nav .group-item {
  display: block;
  line-height: 43px;
  padding-left: 60px;
}
.user-nav .group-title.active, .user-nav .group-item.active {
  /*width: 106px;*/
  color: #c50024;
  background-color: #fff;
}
.user-nav .group-title {
  position: relative;
}
.user-nav .icon-stock {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -22px -16px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .icon-stock-active {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -22px -52px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .icon-money {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -67px -15px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .icon-money-active {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -67px -52px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .icon-person {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -111px -15px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .icon-person-active {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -111px -52px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .icon-feedback {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -153px -15px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .icon-click-me {
  display: block;
  width: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  float: left;
  background: url(../images/user/icons.png) no-repeat -25px -239px;
  position: absolute;
  right: 22px;
  top: 13px;
  _top: 0;
}
.user-nav .icon-service {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/user/icons.png) no-repeat -196px -15px;
  position: absolute;
  left: 22px;
  top: 10px;
  _left:-40px;
  _top: 0;
}
.user-nav .avatar {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  overflow: hidden;
  margin: auto;
}
.txt-center {
  text-align: center;
}
.user-nav .service-info {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}
.user-nav .service-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* 用户中心 操作界面 */
.f-song {
  font-family: "SimSun";
}
.user-main {
  background-color: #fff;
  border-left: 1px solid #dedede;
  width: 753px;
  min-height: 680px;
  _height:900px;
  padding: 20px;
  float: left;
}
.user-main .main-title {
  line-height: 43px;
  border-bottom: 1px solid #f2f2f2;
}
/* 用户中心 操盘概览 */
.user-main .summary {
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  *height: 163px;
}
.user-main .summary-table {
  width: 490px;
  float: left;
  line-height: 26px;
}
.user-main .th td, .user-main th {
  font-family: "SimSun";
  font-weight: normal;
  font-size: 12px;
  color: #999;
}
.user-main table .tb td {
  font-size: 20px;
}
.user-main .summary-left {
  float: left;
  line-height: 26px;
  padding-left: 40px;
  border-left: 1px solid #f2f2f2;
}
.user-main .summary-right {
  float: left;
  padding-left: 30px;
  border-left: 1px solid #eeeeee;
}
.btn-micro-red {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e0322d;
  width: 80px;
  line-height: 30px;
}
.btn-micro-red:hover {
  background-color: #e0322d;
  color: #fff;
}
.btn-micro-gray {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  width: 80px;
  line-height: 30px;
}
.btn-micro-gray:hover {
  /*background-color: #d2d2d2;*/
  color: #DF0000;
}

.btn-micro {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  width: 80px;
  line-height: 30px;
}
/* 标签切换组件 */
.switch-title .switch-tab-wrap {
  padding-left: 37px;
  height: 41px;
  border-bottom: 2px solid #f2f2f2;
}
.switch-title .switch-tab-wrap li {
  float: left;
  line-height: 40px;
  text-align: center;
  margin-right: 25px;
}
.switch-title .switch-tab {
  display: block;
  padding: 0 5px;
  font-size: 14px;
  color: #000;
  float: left;
}
.switch-title .switch-tab:hover {
  color: #c50024;
  border-bottom: 3px solid #c50024;
  text-decoration: none;
}
.switch-title .switch-tab.curr {
  color: #c50024;
  text-decoration: none;
  border-bottom: 3px solid #c50024;
}

/* 订单列表 表格 */
.user-main .order-list-table {
  width: 100%;
  line-height: 25px;
}
.user-main .order-list-table .brd {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.table-module th {
  font-family: "SimSun";
  font-weight: normal;
  font-size: 12px;
  color: #999;
  border-bottom: 2px dotted #f2f2f2;
}
.table-module .tb td {
  padding: 15px 0;
}
.table-module td {
  font-size: 14px;
  border-bottom: 2px dotted #f2f2f2;
}
.user-main .order-list-table td {
  text-align: center;
}
.table-module .th {
  line-height: 50px;
}
/* 订单列表 表格 分页 */
.order-list .pagex {
  width: 120px;
  margin: 20px auto;
  line-height: 32px;
  text-align: center;
}
.order-list .pagex .previous {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  background: url(../images/user/paging_bg.png) no-repeat 13px 10px;
  border: 1px solid #dedede;
}
.order-list .pagex .next {
  display: block;
  float: right;
  width: 32px;
  height: 32px;
  background: url(../images/user/paging_bg.png) no-repeat -31px 10px;
  border: 1px solid #dedede;
}
/* 表格无记录 */
.order-list .icon-stock-big {
  display: block;
  width: 90px;
  height: 78px;
  background: url(../images/user/icons.png) no-repeat -17px -298px;
  margin:30px auto 20px auto;
}
.steps-introduction {
  text-align: center;
  width: 744px;
  margin: 30px auto 20px auto;
}
.steps-introduction li {
  font-size: 14px;
  float: left;
  width: 246px;
  text-align: center;
}
.steps-introduction .steps-arrow-bg {
  display: block;
  line-height: 40px;
  background: url(../images/user/steps_arrow_bg.png) no-repeat;
}

/* 资金明细 */
.user-main .cash-info {
  padding: 20px 40px 0 20px;
}
.sub-line-bg {
  height: 12px;
  width: 100%;
  background: url(../images/user/sub_line_bg.png) no-repeat;
}
.sub-cash-info {
  padding: 20px 0;
}
.sub-cash-table {
  line-height: 35px;
  padding-left: 30px;
}
.sub-cash-table {
  line-height: 35px;
  padding-left: 30px;
}
.icon-plus {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 60px;
  margin-right: 60px;
  background: url(../images/user/icons.png) no-repeat -146px -163px;
}
/* 资金列表 表格 */
.cash-list {
  min-height: 580px;
}
.cash-list .switch-title {
  position: relative;
}
.cash-list .switch-title .select-box {
  position: absolute;
  right: 0;
  top: 2px;
}
.select-box select {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: #dedede;
  color: #999;
  height: 30px;
}
.user-main .cash-list-table {
  width: 100%;
}
.user-main .brd {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.user-main .cash-list-table th {
  text-align: left;
}
.user-main .cash-list-table td {
  line-height: 50px;
}
.user-main .cash-list-table .td-border-none {
  border: none;
}
.user-main .cash-list-table .th {
  line-height: 50px;
}
.user-main .cash-list-table .th th {
  /*padding-left: 10px;*/
}
.user-main .cash-list-table {
  color: #666;
}
.user-main .cash-list-table .sub-detail td {
  color: #999;
}
/* 订单列表 表格 分页 */
.pagex {
  width: 162px;
  margin: 20px auto;
  line-height: 32px;
  text-align: center;
}
.pagex .previous {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  background: url(../images/user/paging_bg.png) no-repeat 13px 10px;
  border: 1px solid #dedede;
}
.pagex .next {
  display: block;
  float: right;
  width: 32px;
  height: 32px;
  background: url(../images/user/paging_bg.png) no-repeat -31px 10px;
  border: 1px solid #dedede;
}
/* 表格无记录 */
.cash-list .icon-stock-big {
  display: block;
  width: 103px;
  height: 78px;
  background: url(../images/user/icons.png) no-repeat -17px -298px;
  margin:30px auto 20px auto;
}
.cash-introduction {
  text-align: center;
  width: 744px;
  margin: 30px auto 20px auto;
}
.cash-introduction li {
  font-size: 14px;
  float: left;
  width: 246px;
  text-align: center;
}
.cash-introduction .steps-arrow-bg {
  display: block;
  line-height: 40px;
  background: url(../images/user/steps_arrow_bg.png) no-repeat;
}
/* 订单详情 */
.simple-logo-bg {
  display: block;
  width: 177px;
  height: 46px;
  background: url(../images/icons.png) no-repeat 0 0;
}
.site-nav .sub-title {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #dedede;
  font-size: 20px;
}
.logout-btn {
  cursor: pointer;
  font-size: 14px;
  color: #999;
  background: none;
  border: none;
}
.logout-btn:hover {
  color: #c50024;
}
.detail-wrap {
  width:960px;
  margin: 0 auto;
}
.detail-steps {
  margin-top: 30px;
  margin-bottom: 30px;
}
.detail-steps .detail-steps-items {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.detail-steps .item {
  float: left;
  line-height: 21px;
  margin-left: 20px;
}
.icon-tick-gray {
  display: block;
  width: 21px;
  height: 21px;
  background: url(../images/user/icons.png) -231px -158px;
}
.icon-tick-active {
  display: block;
  width: 21px;
  height: 21px;
  background: url(../images/user/icons.png) -189px -158px;
}
.icon-arrow {
  display: block;
  width: 14px;
  height: 21px;
  background: url(../images/user/icons.png) -272px -158px;
}
.detail-summary {
  border-top: 1px solid #dedede;
  background-color: #fafafa;
}
.simple-btn {
  cursor: pointer;
  font-size: 14px;
  background: none;
  border: none;
}
.btn-small-red {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e0322d;
  width: 112px;
  text-align: center;
  /*padding-left: 40px;*/
  /*padding-right: 40px;*/
  line-height: 30px;
}
.btn-small-red:hover {
  background-color: #e0322d;
  color: #fff;
}
.btn-small-gray {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 30px;
}
.btn-small-gray:hover {
  color: #df0000;
}
.detail-summary .item {
  margin-left: 50px;
  line-height: 50px;
  float: left;
}
.details-table {
  width: 690px;
}
.details-table .th {/*table head*/
  line-height: 40px;
}
.td-border {
  border-bottom: 2px dotted #f2f2f2;
}
.details-table .tb {/*table body*/
  line-height: 50px;
}
.details-table .stop-loss-base {
  position: relative;
}
.details-table .stop-loss {
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  width: 100px;
  height: 50px;
  background: url(../images/user/icons.png) -151px -320px;
}
.details-table .stop-loss p {
  line-height: 16px;
  padding-left: 10px;
}
.detail-wrap .download-box {
  margin-top: 70px;
  margin-left: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  border-left: 1px solid #dedede;
}
.trading-list-table tr .col-1st {
  padding-left: 20px;
}
.trading-list-table .buy-bg {
  background-color: #fafafa;
}
/* 订单详情 无记录 */
.details-table .icon-warning-base {
  position: relative;
}
.details-table .icon-warning-small {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/user/icons.png) -19px -266px;
  position: absolute;
  left: 116px;;
  top: 10px;
}
.trading-list-table .icon-warning-small-gray {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/user/icons.png) -159px -292px;
}
.trading-list-table .no-record-hint {
  margin: 60px auto;
  width: 145px;
  line-height: 30px;
}
/* 停牌样式 */
.trading-list-table .suspended {
  background-color: #eeeeee;
}
.trading-list-table .suspended .suspended-icon{
  padding: 2px 3px;
  background-color: #707070;
  color: #fff;
}
/* 订单日志 弹窗 */
.log-detail-title {
  background-color: #fff;
  position: relative;
}


/* 充值 样式 */
.switch-block-base {
  position: relative;
}
.switch-block-wrap {
  position: absolute;
  right: 0;
  bottom: -1px;
  _bottom:40px;
}
.switch-block-wrap .switch-block {
  cursor: pointer;
  float: left;
  line-height: 40px;
  padding: 0 30px;
  font-size: 14px;
}
.switch-block-wrap .switch-block.curr {
  border-top: 3px solid #c50024;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  background-color: #fff;
  _border-bottom:0 none;
}
/* 充值选择银行卡 */
table .apply-btn {
  margin-left: 0;
}
table .apply-btn-disable {
  margin-left: 0;
}
.form-table {
  width: 740px;
}
.inp-box {
  line-height: 45px;
  _height: 45px;
  padding-left: 15px;
  border: 1px solid #e6e6e6;
  width: 269px;
  position: relative;
}
.inp-box input {
  height: 44px;
  _height:44px;
  border: 0 none;
  width: 219px;
}
.inp-box input:focus {
  outline: none;
}
.inp-box .bank-inp {
  margin-top: 5px;
  float: left;
  width: 125px;
  _width:130px;
  line-height: 35px;
  _height:35px;
}
.inp-box .inp-fl-hint {
  cursor: pointer;
  color: #999;
  text-decoration: underline;
  position: absolute;
  right: -70px;
  top: 0;
}
.inp-box .bank-trigger {
  cursor: pointer;
  float: right;
  width: 98px;
  _height:45px;
  padding-left: 15px;
  padding-right: 10px;
  border-left: 1px solid #e6e6e6;
  background: url(../images/banks/bank_trigger_bg.png) repeat-x center;
  position: relative;

}
.inp-box .bank-trigger .trigger-arrow {
  /*float: right;*/
  width: 28px;
  height: 45px;
  background: url(../images/user/icons.png) -240px -3px;
  position: absolute;
  right: 8px;
  top: 0;
}
.inp-box .bank-trigger .trigger-arrow.down {
  float: right;
  width: 28px;
  height: 45px;
  background: url(../images/user/icons.png) -240px -37px;
}
.inp-box-small {
  line-height: 45px;
  padding-left: 15px;
  border: 1px solid #e6e6e6;
  width: 100px;
  position: relative;
}
.inp-box-small input {
  width: 70px;
  height: 45px;
  border: 0 none;
}
.inp-box-small input:focus {
  outline: 0 none;
}
.inp-warning {
  position: absolute;
  top: 52px;
  left: 0;
  line-height: 20px;
  display: none;
}

.icon-wrong {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/user/icons.png) no-repeat -23px -205px;
}

.bank-list {
  border: 1px solid #e6e6e6;
  /*width: 586px;*/
  padding: 15px;
}
.bank-list-table {
  border: 1px solid #eeeeee;
  border-collapse:collapse;
}
.bank-list-table td {
  padding: 5px 10px;
}
.bank-img-wrap {
  padding: 5px 10px;
  border: 1px solid #eeeeee;
}
.bank-img {
  cursor: pointer;
  display:block;
  width: 125px;
  height: 35px;
}
.bank-img.ICBC {
  /* 中国工商银行 */
  background: url(../images/banks/banks.png) no-repeat 0 0;
}
.bank-img.ABC {
  /* 中国农业银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -34px;
}
.bank-img.CCB {
  /* 中国建设银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -72px;
}
.bank-img.BOCO {
  /* 交通银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -217px;
}
.bank-img.CIB {
  /* 兴业银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -361px;
}
.bank-img.CMBC {
  /* 中国民生银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -288px;
}
.bank-img.CEB {
  /* 中国光大银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -325px;
}
.bank-img.BOC {
  /* 中国银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -145px;
}
.bank-img.ECITIC {
  /* 中信银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -251px;
}
.bank-img.GDB {
  /* 广发银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -432px;
}
.bank-img.HXB {
  /* 华夏银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -467px;
}
.bank-img.CMBCHINA {
  /* 招商银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -108px;
}
.bank-img.POST {
  /* 中国邮政储蓄银行 */
  background: url(../images/banks/banks.png) no-repeat 0 -179px;
}
/* 限额表 */
.limits-table {
  width: 617px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
}
.limits-table td {
  text-align: center;
}
.limits-table th {
  background-color: #eeeeee;
}
/* 支付宝 */
.zfb-logo {
  display: block;
  width: 67px;
  height: 22px;
  background: url(../images/user/zfb_logo.png) no-repeat;
}
.zfb-hint {
  line-height: 22px;
}
/* 柜台/ATM 转账 */
.charge-steps {
  padding: 10px;
  background-color: #fffce3;
}
.charge-steps .curr .steps-text {
  color: #c50024;
  font-weight: bold;
}
.charge-box .bank-ccb {
  display: block;
  width: 230px;
  height: 100px;
  background: url(../images/banks/bank_bg.png) -16px 0;
}
.charge-box .bank-abc {
  display: block;
  width: 230px;
  height: 100px;
  background: url(../images/banks/bank_bg.png) 584px 0;
}
.charge-box .bank-icbc {
  display: block;
  width: 230px;
  height: 100px;
  background: url(../images/banks/bank_bg.png) 284px 0;
}
.strong-hint {
  line-height: 24px;
  padding-left: 20px;
  background-color: #fffce3;
  color: #c50024;
  font-size: 14px;
}
.bank-account {
  width: 100%;
  border-top: 2px dotted #dedede;
}
.bank-account td.brd-dotted {
  padding: 10px;
  border-bottom: 2px dotted #dedede;
}
.brd-dotted {
  border-bottom: 2px dotted #dedede;
}
.bank-account .account-info * {
  font-size: 14px;
  line-height: 30px;
}
.charge-box .bottom-hint {
  text-align: center;
}
.message-sended {
  line-height: 30px;
  display: none;
}
/* 我的银行卡 */
.info-table td {
  padding: 30px 0;
  border-bottom: 2px dotted #dedede;
}
.icon-bank {
  display: block;
  width: 36px;
  height: 24px;
  background: url(../images/user/icons.png) no-repeat -16px -101px;
}
.bankcard-box {
  padding: 5px 10px;
  line-height: 35px;
  width: 280px;
  border: 1px solid #e6e6e6;
}
.bankcard-big-box {
  padding: 5px 10px;
  line-height: 35px;
  width: 350px;
  border: 1px solid #e6e6e6;
  position: relative;
}
.card-float-bar {
  background-color: #fff;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  _top: 0;
  _left:280px;
}
.card-float-bar:hover {
  border: 1px solid #eeeeee;
}
.card-float-bar:hover .card-item {
  display: block;
}
.card-float-bar .card-title, .card-float-bar .card-item {
  display: block;
  width: 65px;
  padding-left: 15px;
  line-height: 43px;
  _height:43px;
  font-size: 14px;
  z-index: 0;
}
.card-float-bar .card-title:hover, .card-float-bar .card-item:hover {
  color: #000000;
  text-decoration: none;
  background-color: #f1f1f1;
}
.card-float-bar .card-item {
  display: none;
}
.icon-arrowx {
  display: block;
  width: 11px;
  height: 6px;
  background: url(../images/user/icons.png) -275px -305px;
  position: absolute;
  top: 20px;
  right: 8px;
  z-index: 1;
}
.icon-people {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../images/user/icons.png) no-repeat -78px -96px;
}
.icon-identity-verify {
  display: block;
  width: 32px;
  height: 22px;
  background: url(../images/user/icons.png) no-repeat -289px -100px;
}
.icon-lock {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../images/user/icons.png) no-repeat -134px -96px;
}
.icon-mobile {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../images/user/icons.png) no-repeat -183px -94px;
}
.icon-mail {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../images/user/icons.png) no-repeat -236px -94px;
}
.icon-weixin {
  display: block;
  width: 39px;
  height: 34px;
  background: url(../images/user/icons.png) no-repeat -16px -154px;
}
.icon-qq-num {
  display: block;
  width: 39px;
  height: 34px;
  background: url(../images/user/icons.png) no-repeat -79px -152px;
}
textarea {
  border: 1px solid #e6e6e6;
}
.contact-way {
  height: 25px;
  border: 1px solid #e6e6e6;
  padding: 10px;
}
/* 提现成功 */
.icon-success {
  display: block;
  width: 64px;
  height: 64px;
  background: url(../images/user/icons.png) no-repeat  -68px -206px;
}
.icon-success-middle {
  display: block;
  width: 49px;
  height: 49px;
  background: url(../images/user/icons.png) no-repeat  -151px -214px;
}
.icon-warning-middle {
  display: block;
  width: 49px;
  height: 49px;
  background: url(../images/user/icons.png) no-repeat  -218px -214px;
}
.withdraw-steps {
  height: 62px;
  background: url(../images/user/withdraw_steps_bg.png) no-repeat 20px 45px;
}
.withdraw-steps li {
  float: left;
}
.withdraw-steps .one {

}
.withdraw-steps .two {
  margin-left: 28px;
}
.withdraw-steps .three {
  margin-left: 125px;
}
/* 投诉咨询 */
.feedback-record {

}
.icon-feedback-big {
  display: block;
  width: 27px;
  height: 20px;
  background: url(../images/user/icons.png) no-repeat -152px -376px;
}
.feedback-record .consult-tag {
  padding: 2px 3px;
  color: #fff;
  background-color: #2489f0;
}
.feedback-record .complain-tag {
  padding: 2px 3px;
  color: #fff;
  background-color: #e30a20;
}
.avatar {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  overflow: hidden;
}
/* 弹窗样式 pop-window */
.btn-confirm {
  line-height: 32px;
  /*background-color: #e0322d;*/
  background-color: #cc0000;
  color: #fff;
  width: 117px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}
.btn-confirm:hover {
  background-color: #de0029;
}
.btn-cancel {
  line-height: 32px;
  background-color: #eeeeee;
  color: #999999;
  width: 117px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}
.pop-window {
  position: fixed;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  width: 500px;
  display: none;
}
.window-title {
  padding-left: 20px;
  line-height: 45px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
}
.window-body {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}
.window-title .btn-close, .log-detail-title .btn-close {
  cursor: pointer;
  display: block;
  width: 17px;
  height: 17px;
  background: url(../images/user/icons.png) no-repeat -213px -375px;
  position: absolute;
  right: 18px;
  top: 14px;
}
.window-title .btn-close:hover,.log-detail-title .btn-close:hover {
  background: url(../images/user/icons.png) no-repeat -263px -375px;
}
.pop-window .stop-loss-base {
  position: relative;
}
.pop-window .stop-loss {
  display: block;
  position: absolute;
  right: 70px;
  top: -10px;
  width: 100px;
  height: 50px;
  background: url(../images/user/icons.png) -151px -320px;
}
.pop-window .stop-loss p {
  line-height: 16px;
  padding-left: 10px;
}
.txt-left {
  text-align: left;
}
.inp-smallx {
  /* 验证码 */
  width: 117px;
  height: 35px;
  border: 1px solid #d2d2d2;
  padding-left: 10px;
}
.btn-resendx {
  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;
  width: 130px;
  text-align: center;
  padding: 0 10px;
  line-height: 35px;
  color: #c5c5c5;
}
.btn-verify-codex {
  background-color: #fff;
  border: 1px solid #e0322d;
  width: 130px;
  text-align: center;
  padding: 0 10px;
  line-height: 35px;
}
.btn-verify-codex:hover {
  background-color: #e0322d;
  color: #fff;
}
.inp-smallx {
  /* 验证码 */
  height: 35px;
  border: 1px solid #d2d2d2;
  padding-left: 10px;

}
#pop-addweixin {
  width: 710px;
}
.inp-weixin {
  width: 360px;
  height: 35px;
  border: 1px solid #d2d2d2;
  padding-left: 10px;
}

/* 登录页面 */
.w960-ct {/* width 960px center */
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.login-left {
  float: left;
  width: 628px;
}
.login-right {
  float: left;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-left: 1px solid #eeeeee;
}
.link-blue {
  color: #6c88c4;
}
.apply-small-btn {
  display: block;
  width: 160px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  border: 0 none;
  border-radius: 4px;
  background-color: #cc0000;
}
.apply-small-btn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #de0029;
}
.inp-x {
  width: 250px;
  border: 1px solid #dddddd;
  height: 40px;
  position: relative;
}
.inp-x input {
  height: 40px;
  _line-height:40px;
  font-size: 16px;
  border: 0 none;
}
.inp-x input:focus {
  outline: 0 none;
}
.icon-phone {
  display: block;
  width: 18px;
  height: 22px;
  background: url(../images/icons.png) no-repeat -23px -211px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.icon-password {
  display: block;
  width: 18px;
  height: 22px;
  background: url(../images/icons.png) no-repeat -63px -211px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.icon-password-confirm {
  display: block;
  width: 18px;
  height: 22px;
  background: url(../images/icons.png) no-repeat -103px -211px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.retrieve-pwd-steps {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/retrieve_pwd/steps_bg.png) no-repeat;
}
.retrieve-pwd-steps  .item {
  width: 160px;
  float: left;
}
.retrieve-pwd-steps  .item.last {
  width: 50px;
}
.retrieve-pwd-steps  .item.curr .steps-text {
  color: #000;
}
.retrieve-pwd-steps  .item.curr .steps-num-bg {
  color: #fff;
  background: url(../images/retrieve_pwd/steps_num_bg.png) no-repeat;
}
.retrieve-pwd-steps .steps-num-bg {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  color: #999;
}
.retrieve-pwd-table {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.inp-normal {
  height: 40px;
  padding-left: 10px;
  _line-height: 40px;
  font-size: 16px;
}
.inp-normal-red {
  height: 40px;
  padding-left: 10px;
  _line-height: 40px;
  font-size: 16px;
  border: 1px solid #cc0000;
}
.w120 {
  width: 120px;
}
.w150 {
  width: 150px;
}
.w240 {
  width: 240px;
}
.w280 {
  width: 280px;
}
.simple-blue-btn {
  cursor: pointer;
  color: #6c88c4;
  background: none;
  border: none;
}
img.verify-img {
  width: 110px;
  height: 44px;
  /*vertical-align: middle;*/
}
.retrieve-pwd-box {
  margin-top: 100px;
  margin-bottom: 100px;
}
.inp-hint-base {
  position: relative;
}
.inp-hint {
  position: absolute;
  left: 313px;
  top: 10px;
}
.icon-yes-16X16 {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/retrieve_pwd/icon_yes_16X16.png) no-repeat;
}
.btn-verify-codey {
  background-color: #cc0000;
  border: 1px solid #cc0000;
  width: 130px;
  text-align: center;
  color: #fff;
  padding: 0 10px;
  line-height: 40px;
}
/* 新闻-更多 列表 */
.breadcrumbs {
  background-color: #f8f8f8;
  padding: 20px 0;
}
.inner {
  width: 960px;
  margin: 0 auto;
}
.bg-white {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}
.news-more {
  padding: 30px 0;
}
.news-list {
  width: 635px;
  padding-right: 30px;
  border-right: 1px solid #eeeeee;
}
.news-list .item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dotted #e8e8e8;
}
.news-list .summary {
  line-height: 24px;
}
.info-rankings {
  margin-left: 30px;
  _margin-left: 20px;
  _width: 253px;
}
.info-rankings ul {
  border-top: 2px dotted #f1f1f1;
}
.info-rankings .item {
  padding: 12px 10px;
  _padding: 10px 0;
  border-bottom: 2px dotted #f1f1f1;
}
.info-rankings .item a {
  width: 206px;
  display:block;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.page {
  text-align: center;
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.page a {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  line-height: 38px;
  float: left;
  border: 1px solid #cccccc;
}
.page a:hover, .page a.curr {
  color: #fff;
  text-decoration: none;
  background-color: #c50024;
  border: 1px solid #c50024;
}
.page .previous {
  position: relative;
}
.page .next {
  position: relative;
}
.page .icon-previous {
  display: block;
  width: 11px;
  height: 11px;
  background: url(../images/paging_bg.png) no-repeat 0 0;
  position: absolute;
  left: 15px;
  top: 13px;
}
.page .icon-next {
  display: block;
  width: 11px;
  height: 11px;
  background: url(../images/paging_bg.png) no-repeat -11px 0;
  position: absolute;
  left: 15px;
  top: 13px;
}
.page .previous:hover .icon-previous {
  background: url(../images/paging_bg_white.png) no-repeat 0 0;
}
.page .next:hover .icon-next {
  background: url(../images/paging_bg_white.png) no-repeat -11px 0;
}
/* 新闻内容 */
.news-detail {
  width: 635px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-right: 1px solid #eeeeee;
}
.news-detail .content p {
  font-size: 14px;
  color: #999;
  line-height: 30px;
}
/* 平台公告 */
.notice-more {
  padding: 30px 0;
}
.notice-list {
}
.notice-list .item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dotted #e8e8e8;
}
.notice-list .summary {
  line-height: 24px;
}
.notice-detail {
  padding-bottom: 30px;
}
.notice-detail .content p {
  font-size: 14px;
  color: #999;
  line-height: 30px;
}
.bg-248 {
  background-color: #f8f8f8;
}
.help-center {
  padding: 0 0 30px 0;
}
.help-center .left-nav {
  width: 180px;
  padding: 30px 0;
  background-color: #fff;
  float: left;
}
.left-nav .group-title, .left-nav .group-item {
  display: block;
  line-height: 36px;
  _height: 36px;
}
.group-title {
  font-size: 14px;
}
.left-nav .group-title:hover, .left-nav .group-item:hover, .left-nav .group-title.active, .left-nav .group-item.active {
  color: #fff;
  text-decoration: none;
  background-color: #c50024;
}
.left-nav .group-title {
  padding-left: 30px;
}
.left-nav .group-item {
  padding-left: 40px;
}
.triangle-base {
  position: relative;
}
.triangle-bg {
  display: block;
  width: 7px;
  height: 14px;
  background: url(../images/triangle_bg.png) no-repeat;
  position: absolute;
  top: 11px;
  right: 0;
}
/* 帮助内容 */
.help-center .right-content {
  padding: 30px;
  width: 700px;
  background-color: #fff;
  float: right;
}
.w350 {
  width: 350px;
}
.w640 {
  width: 640px;
}
.w700 {
  width: 700px;
}
.question-list {
  border-bottom: 2px dotted #eeeeee;
}
.question {
   padding: 8px 10px;
   line-height: 24px;
 }
.answer {
  padding: 0 10px;
  display: none;
}
.answer-list p {
  line-height: 24px;
}
.question-item {
  border-top: 2px dotted #eeeeee;
}

.question:hover {
  background-color: #f1f1f1;
}
.icon-question {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/question_and_answer.png) no-repeat 0 0;
}
.icon-answer {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/question_and_answer.png) no-repeat 0 -24px;
}
.help-center .article-content p {
  line-height: 24px;
  margin-bottom: 10px;
  /*font-size: 14px;*/
}

/* 弹窗校验码 */
.btn-resend {
  background-color: #dedede;
  border: 1px solid #dedede;
  width: 130px;
  text-align: center;
  padding: 0 10px;
  line-height: 30px;
  _height: 30px;
  color: #fff;
}
.btn-verify-code {
  background-color: #e0322d;
  border: 1px solid #e0322d;
  width: 130px;
  text-align: center;
  padding: 0 10px;
  line-height: 30px;
  _height: 30px;
  color: #fff;
}
.inp-small {
  /* 验证码 */
  width: 120px;
  height: 30px;
  _line-height:30px;
  border: 1px solid #d2d2d2;
  padding-left: 10px;
}
.inp-small:focus {
  outline: 0 none;
  border: 1px solid #cc0000;
}
.w430 {
  width: 430px;
}
.w440 {
  width: 440px;
}
/* 提现过程 */
.withdraw-stepsx-base{
  position: relative;
}
.withdraw-stepsx-base .withdraw-stepsx-wrap {
  position: absolute;
  right: 10px;
  bottom: 0;
  _bottom: 40px;
}
.withdraw-stepsx-wrap .withdraw-stepx-item {
  line-height: 30px;
  font-size: 14px;
}
.withdraw-stepsx-wrap .withdraw-stepx-item.curr {
  color: #c50024;
  border-bottom: 3px solid #c50024;
}
/* 银行卡切换 */
.card-cho-box {
  display: none;
}
.card-cho-box .bankcard-box {
  cursor: pointer;
}
.card-choose-trigger {
  cursor: pointer;
}
.icon-dropdown {
  display: block;
  width: 17px;
  height: 17px;
  background: url(../images/user/icons.png) no-repeat -272px -331px;
}
/* 推广赚钱 */
.spread-summary {
  margin-left: 30px;
}
.spread-summary li {
  width: 160px;
  float: left;
}
.spread-ad span {
  display: block;
  float: left;
  line-height: 30px;
}
.w50 {
  width: 50px;
}
.w90 {
  width: 90px;
}
.inp-spread {
  border: 1px solid #dddddd;
  font-size: 14px;
  height: 35px;
  min-width: 180px;
  _line-height:35px;
  padding-left: 10px;
  _width:240px;
}
.spread .table-module td {
  padding: 10px 0;
}
.w400 {
  width: 400px;
}
.w334 {
  width: 334px;
}
.w100 {
  width: 100px;
}
#pop-login .window-body, #pop-register .window-body {
  padding-top: 0;
  padding-bottom: 0;
}
#pop-login .window-title, #pop-register .window-title {
  padding-left: 0;
}
.btnx-confirm {
  line-height: 32px;
  /*background-color: #e0322d;*/
  background-color: #cc0000;
  color: #fff;
  padding: 0 20px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}
.btnx-confirm:hover {
  background-color: #de0029;
}
.btnx-cancel {
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
  _line-height: 32px;
  background-color: #c2c8cc;
  border: 0 none;
  border-radius: 2px;
  color: #fff;
}
.iconx-qq-online {
  display: block;
  width: 77px;
  height: 22px;
  background: url(../images/iconx_qq_online.png) no-repeat;
}
/* 期指 */
.futures-index {
  margin: 0 auto;
  padding: 30px;
  width: 960px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}
.cl-light-pink {
  color: #e18d8d;
}
.cl-pink {
  color: #ff4652;
}
.cl-gray {
  color: #dcdfe1;
}
.cl-white {
  color: #fff;
}
.switch-blockx-wrap {
  width: 960px;
  margin: 0 auto;
}
.switch-blockx {
  background-color: #c2c8cc;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  display: block;
  width: 280px;
  line-height: 40px;
  _height:40px;
  text-align: center;
}
.switch-blockx .switch-blockx-num {
  color: #dcdfe1;
}
.switch-blockx.curr {
  background-color: #cc0000;
}
.switch-blockx.curr .switch-blockx-num {
  color: #e18d8d;
}
.switch-blockx.curr:hover {
  background-color: #cc0000 !important;
}
.switch-blockx:hover {
  background-color: #aaafb5;
  text-decoration: none;
}
.futures-index .data-summary {
  padding: 30px 20px;
  background-color: #fffafa;
}
.icon-up-pink {
  display: block;
  width: 23px;
  height: 26px;
  background: url(../images/futures_index/icons.png) no-repeat 0 0;
}
.icon-up-gray {
  display: block;
  width: 23px;
  height: 26px;
  background: url(../images/futures_index/icons.png) no-repeat -81px 0;
}
.icon-down-green {
  display: block;
  width: 23px;
  height: 26px;
  background: url(../images/futures_index/icons.png) no-repeat -42px 0;
}
.icon-update {
  border: 0 none;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/futures_index/icons.png) no-repeat -2px -41px;
}
.icon-update:hover {
  background: url(../images/futures_index/icons.png) no-repeat -53px -41px;
}
.w410 {
  width: 410px;
}
.chart .switch-chart:hover {
  color: #000000;
  text-decoration: none;
}
.chart-box {
  width: 415px;
  height: 158px;
}
.icon-manx {
  display: block;
  height: 16px;
  width: 15px;
  background: url(../images/futures_index/icons.png) -125px -8px;
}
.w450 {
  width: 450px;
}
/* 自定义 radio 选择框 */
.chosen-block {
  border: 2px solid #dddddd;
  cursor: pointer;
  line-height: 36px;
  _height: 36px;
  text-align: center;
  width: 136px;
}
.chosen-block:hover {
  border: 2px solid #ea4040;
}
.chosen-block.selected {
  border: 2px solid #ea4040;
  background: url(../images/tickx.png) no-repeat 116px 15px;
}
.chosen-block.selected .chosen-txt {
  color: #df0000;
}
.w360 {
  width: 360px;
}
.icon-small-up {
  display: block;
  width: 11px;
  height: 12px;
  background: url(../images/futures_index/icons.png) no-repeat -162px -6px;
}
.icon-small-down {
  display: block;
  width: 11px;
  height: 12px;
  background: url(../images/futures_index/icons.png) no-repeat -187px -6px;
}
.futures-index .center-box {
  width: 240px;
  margin: 100px auto;
}
.futures-index .center-box .icon-empty {
  margin-left: auto;
  margin-right: auto;
}
.icon-empty {
  display: block;
  width: 71px;
  height: 65px;
  background: url(../images/futures_index/icons.png) no-repeat -95px -35px;
}
.btnx-big-red {
  background-color: #cc0000;
  border: 0 none;
  border-bottom: 3px solid #ae0000;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 50px;
  _height: 50px;
}
.btnx-big-red:hover {
  background-color: #de001f;
}
.pop-futures-index-table {
  line-height: 40px;
}
.chosen-blockx {
  background: url(../images/futures_index/choosen_point.png) no-repeat 10px 12px;
  border: 2px solid #dddddd;
  _height:36px;
  line-height: 36px;
  text-align: left;
}
.chosen-blockx:hover {
  border: 2px solid #ea4040;
}
.chosen-blockx.selected {
  background: url(../images/futures_index/choosen_point_selected.png) no-repeat 10px 12px;
  border: 2px solid #ea4040;
  _height:36px;
  line-height: 36px;
  text-align: left;
}
.chosen-blockx.selected .chosen-txt {
  color: #df0000;
}
.w580 {
  width: 580px;
}
.inp-tiny {
  border: 1px solid #dddddd;
  height: 24px;
  _line-height:24px;
  padding-left: 5px;
  width: 70px;
}
/* 免费体验 */
#experience {
  width: 680px;
  height: 544px;
  padding: 15px 20px 20px 20px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
}
#experience a.button-gray {
  display: block;
  width: 260px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 290px;
  margin-top: 35px;
  padding-left: 50px;
  background: gray;
  color:white;
}
#experience a:hover {
  text-decoration: none;
}
#experience .title {
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
#experience .sub-hint {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-bottom: 10px;
}
.experience-bg {
  width: 610px;
  height: 381px;
  margin: 20px auto;
  background: url(../images/experience/experience_bg.png) no-repeat;
}
.experience-bg p {
  line-height: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.experience-bg .ex-step01 {
  margin-left: 164px;
}
.experience-bg .ex-step02 {
  margin-left: 222px;
}
.experience-bg .ex-step03 {
  margin-left: 238px;
}
.experience-bg .ex-step04 {
  margin-left: 240px;
}
.consult {
  width: 200px;
  height: 579px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f2f2f2;
}
.consult-title {
  display: block;
  margin: 30px auto 0 auto;
}
.consult .avatar {
  width: 100px;
  height: 130px;;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  margin: 20px auto;
}
.consult .qq-online {
  display: block;
  width: 100px;
  height: 30px;
  background: url(../images/experience/qq_online.png?v=20150409) no-repeat;
  margin: 20px auto 10px auto;
}
/* 股票推荐 */
.recommend {
  padding: 15px 20px 20px 20px;
  background-color: #fff;
  border:1px solid #f2f2f2;
}
.recommend .title {
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.recommend .stocks li {
  float: left;
}
.recommend .stocks li p {
  text-align: center;
}
/* 蓝色 下跌 股票*/
.recommend .stock-blue {
  display: block;
  width: 180px;
  height: 146px;
  background: url(../images/recommend/stock_blue.png?v=20150409) no-repeat center;
}
.recommend .stock-blue .name {
  margin-top: 24px;
  font-size: 18px;
  color: #fff;
}
.recommend .stock-blue .code {
  font-size: 18px;
  color: #fff;
}
.recommend .stock-blue .rate {
  font-size: 24px;
  color: #4691ee;
  margin-top: 20px;
}
/* 红色 上涨 股票*/
.recommend .stock-red {
  display: block;
  width: 180px;
  height: 146px;
  background: url(../images/recommend/stock_red.png?v=20150409) no-repeat center;
}
.recommend .stock-red .name {
  margin-top: 24px;
  font-size: 18px;
  color: #fff;
}
.recommend .stock-red .code {
  font-size: 18px;
  color: #fff;
}
.recommend .stock-red .rate {
  font-size: 24px;
  color: #c71c24;
  margin-top: 20px;
}
.order-pay-wrap {
  padding: 30px;
  min-height: 600px;
}

.switch-blocky-base {
}
.switch-blocky-wrap {

}
.switch-blocky-wrap .switch-blocky {
  cursor: pointer;
  float: left;
  line-height: 40px;
  padding: 0 30px;
  font-size: 14px;
}
.switch-blocky-wrap .switch-blocky.curr {
  border-top: 3px solid #c50024;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  background-color: #fff;
  _border-bottom:0 none;
}