* {
  font-family: "Microsoft YaHei";
}

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
  color: #747f8c;
}

/* Additional non-critical styles */

code {
  padding: 2px;
  background: #ddd;
}

/* Micro reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Microsoft Yahei', tahoma, Arial, Hiragino Sans GB, \5b8b\4f53, Helvetica, Arial, sans-serif;
}

select {
  height: 40px;
  border: 1px solid #DFE1E8;
  border-radius: 3px;
  padding-left: 15px;
  text-align: center;
  font-size: 14px;
  color: #747f8c;
}
/* modules */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}

/* - Hides from IE-mac - \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* - End hide from IE-mac - */

/* 样式组件 */
/* -float- */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* -font- */
.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-30 {
  font-size: 30px;
}

.f-36 {
  font-size: 36px;
}

.f-bold {
  font-weight: bold;
}

/* -margin- */
.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

/* -color- */
.cl-102 {
  color: #666;
}

.cl-119 {
  color: #777;
}

.cl-153 {
  color: #999;
}

.cl-deepred {
  color: #c50024;
}

.cl-red {
  color: #df0000;
}

.cl-yellow {
  color: #fddf58;
}

/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(75, 20, 20, 0.65) 100%);
}

.nav-item a.curr {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(75, 20, 20, 0.65) 100%);
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 152px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect fill='#fff' width='30' height='6'/><rect fill='#fff' y='24' width='30' height='6'/><rect fill='#fff' y='12' width='30' height='6'/></svg>");
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  /* non-critical apperance styles */
  /*padding: 4em;*/
  /*background-size: 200%;*/
}

.left-aside {
  width: 15%;
  min-height: 100%;
  background-color: #FFF;
  /*background-image: linear-gradient(90deg, rgb(221, 241, 249) 2%, rgb(255, 255, 255) 10%);*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.right-aside {
  width: 85%;
  min-height: 100%;
  border-left: 3px solid #CCCBD0;
  /*background-image: linear-gradient(90deg, rgb(221, 241, 249) 0.5%, rgb(255, 255, 255) 10%);*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

/* 写文章 */
#search-input {
  background: none;
  border-top: 1px solid #CCCBD0;
  border-bottom: 1px solid #CCCBD0;
  border-left: 0;
  border-right: 0;
  line-height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 20px;
}

/* 文章列表项 */
.article-item {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

.article-item:hover {
  cursor: default;
  background-color: #f1f1f1;
}

.article-item.active {
  background-color: #dedede;
}

.article-item .title {
  font-size: 24px;
  color: #171717;
  line-height: 35px;
}

.article-item .time {
  font-size: 12px;
  color: #999;
  line-height: 35px;
  float: right;
}

.article-item .content {
  font-size: 14px;
  color: #666;
  line-height: 24px;
  height: 96px;
  overflow: hidden;
}

.article-bar {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 9px;
  border-bottom: 1px solid #CCCBD0;
}

button {
  height: 34px;
  width: 100px;
  border-radius: 4px;
  border: 1px solid #DFE1E8;
  background-color: #fff;
}

button:hover {
  border: 1px solid #f1f1f1;
}

button:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1);
  background-color: #f2f2f2;
}

button.release {
  background-color: #3c77dd;
  color: #fff;
}

/* article-write */
.article-write .title-input {
  width: 100%;
  font-size: 30px;
  line-height: 60px;
  background: none;
  border: 0;
  border-bottom:1px solid #CCCBD0;
  padding-left: 20px;
}

/* for textarea height 100% */
.article-write {
  height: 80%;
}
.article-write .content {
  height: 100%;
}
.article-write .content-input {
  width: 100%;
  height: 80%;
  font-size: 18px;
  background: none;
  border: 0;
  border-bottom:1px solid #CCCBD0;
  border-top:1px solid #CCCBD0;
  padding: 20px;
}
.article-write .labels {
  height: 60px;
  padding-left: 20px;
  margin-top: 20px;
}

/* 弹窗 */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.pop-window {
  width: 380px;
  height: 283px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  z-index: 101;
  color:#747f8c;
  display: none;
}
.pop-window .title {
  line-height: 60px;
  font-size: 21px;
  font-weight: bold;
}
.pop-window input[type="text"] {
  display: inline-block;
  width: 300px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #DFE1E8;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  color: #747f8c;
}
.pop-window select {
  width: 300px;
  margin-bottom: 10px;
}
.pop-window button {
  width: 300px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #2376BC;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
}
.pop-window button#cancel {
  margin-top: 10px;
  color: #747f8c;
  background-color: #fff;
  border: 1px solid #DFE1E8;
}